
{{> modules-event-listing-hero }}

{{> components-search-bar }}

<!-- Filters -->
<div class="container">
  <ul class="nav nav-pills listing-filters my-md-6">
    <li class="nav-item btn-filter mr-3 py-2 px-3 my-auto hidden-sm-down my-auto bg-white d-flex justify-content-center">
        <span class="mr-2 pl-2">Filter</span>
    </li>
    <li class="nav-item hidden-sm-down mr-auto my-auto">
      <span class="resultStats">Displaying {{ eventListing.pageRange }} of {{ eventListing.resultCount}}</span>
    </li>
     <li class="nav-item cards hidden-sm-down border-right-0">
      <span>{{ resultCount }}</span>
    </li>
    <li class="nav-item dropdown d-inline-block my-md-auto mr-md-5">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link text-primary sort-list display8 p-0" data-toggle="dropdown" href="#">Best match</a>
      <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right bg-gray-lightest">
        <a class="dropdown-item display9 text-right active" href="#">Date</a>
        <a class="dropdown-item display9 text-right " href="#">Distance</a>
        <a class="dropdown-item display9 text-right" href="#">Favorite</a>
      </div>
    </li>
    <li class="nav-item cards hidden-sm-down border-right-0 my-auto">
      <a class="nav-link active" data-toggle="pill" href="#cards" role="tab"></a>
    </li>
    <li class="nav-item list hidden-sm-down my-auto">
      <a class="nav-link" data-toggle="pill" href="#list-items" role="tab"></a>
    </li>
  </ul>
</div>

<div class="container-fluid bg-gray-ultra-light pt-5">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="cards" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-md-4 card-">{{> components-event-card }}</div>
          <div class="col-md-4">{{> components-event-card }}</div>
          <div class="col-md-4">{{> components-event-card }}</div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="list-items" role="tabpanel">
      <div class="tab-pane" id="cards" role="tabpanel">
      <div class="container">
        {{> components-event-list-item }}
        {{> components-event-list-item }}
        {{> components-event-list-item }}
      </div>
    </div>
    </div>
  </div>
  
  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center m-0 py-5">
      <li class="page-item"><a class="page-link h-100" href="#" aria-label="Previous"><img src="{{ pagination.back }}"  aria-hidden="true"></a></li>
      <li class="page-item"><a class="page-link h-100 display8 secondary active" href="#">1</a></li>
      <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">2</a></li>
      <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">3</a></li>
      <li class="page-item"><a class="page-link h-100" href="#" aria-label="Next" ><img src="{{ pagination.forward }}" aria-hidden="true"></a></li>
    </ul>
  </nav>
</div>
