<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D7EDD0;"></span>
		<span class="sg-label">
            $icsc-accent-1 <br />
            #D7EDD0
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DAD7C4;"></span>
		<span class="sg-label">
			$icsc-accent-2 <br />
			#DAD7C4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DEF2F7;"></span>
		<span class="sg-label">
			$icsc-accent-3 <br />
			#DEF2F7
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFDCC2;"></span>
		<span class="sg-label">
			$icsc-accent-4 <br />
			#FFDCC2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFBBD;"></span>
		<span class="sg-label">
			$icsc-accent-5 <br />
			#FFFBBD
		</span>
	</li>
</ul>
