<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F7F7F7;"></span>
		<span class="sg-label">
      $gray-ultra-light <br />
      #F7F7F7
     </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F9F9F9;"></span>
		<span class="sg-label">
			$gray-lightest <br />
			#F9F9F9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EDEDED;"></span>
		<span class="sg-label">
			$gray-lighter <br />
			#EDEDED
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7F7FB;"></span>
		<span class="sg-label">
			$gray-light <br />
			#F7F7FB
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4A4A4A;"></span>
		<span class="sg-label">
			$gray <br />
			#4A4A4A
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #343434;"></span>
		<span class="sg-label">
			$gray-dark <br />
			#343434
		</span>
	</li>
</ul>