<br>

<p>Default Paragraph: 'Sophia Pro', sans-serif; 1rem;</p>
<p><strong>Default Paragraph Strong: 'Sophia Pro', sans-serif; 1rem;</strong></p>

<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-white">Etiam porta sem malesuada ultricies vehicula.</p>

<div class="bg-primary text-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
<div class="bg-success text-white">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</div>
<div class="bg-info text-white">Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
<div class="bg-warning text-white">Etiam porta sem malesuada magna mollis euismod.</div>
<div class="bg-danger text-white">Donec ullamcorper nulla non metus auctor fringilla.</div>
<div class="bg-inverse text-white">Cras mattis consectetur purus sit amet fermentum.</div>
<div class="bg-faded">Cras mattis consectetur purus sit amet fermentum.</div>

<br>

<h1>H1 Heading Default • 36/44 • 0.9</h1>
<h2>H2 Heading Default • 36/44 • 0.9</h2>
<h3>H3 Heading Default • 36/44 • 0.9</h3>
<h4>H4 Heading Default • 36/44 • 0.9</h4>
<h5>H5 Heading Default • 36/44 • 0.9</h5>
<h6>H6 Heading Default • 36/44 • 0.9</h6>

<br>

<h1 class="secondary">H1 Heading • 36/44 • Secondary • 0.6</h1>
<h2 class="secondary">H2 Heading • 28/36 • Secondary • 0.6</h2>
<h3 class="secondary">H3 Heading • 24/32 • Secondary • 0.6</h3>
<h4 class="secondary">H4 Heading • 20/28 • Secondary • 0.6</h4>
<h5 class="secondary">H5 Heading • 16/24 • Secondary • 0.6</h5>
<h6 class="secondary">H6 Heading • 12/20 • Secondary • 0.6</h6>

<br>

<h1 class="disabled">H1 Heading • 36/44 • Disabled • 0.2</h1>
<h2 class="disabled">H1 Heading • 28/36 • Disabled • 0.2</h2>
<h3 class="disabled">H1 Heading • 24/32 • Disabled • 0.2</h3>
<h4 class="disabled">H1 Heading • 20/28 • Disabled • 0.2</h4>
<h5 class="disabled">H1 Heading • 16/24 • Disabled • 0.2</h5>
<h6 class="disabled">H1 Heading • 12/20 • Disabled • 0.2</h6>

<br>

<h1 class="accent">H1 Heading • 36/44 • Accent • 1</h1>
<h2 class="accent">H1 Heading • 28/36 • Accent • 1</h1>
<h3 class="accent">H1 Heading • 24/32 • Accent • 1</h1>
<h4 class="accent">H1 Heading • 20/28 • Accent • 1</h1>
<h5 class="accent">H1 Heading • 16/24 • Accent • 1</h1>
<h6 class="accent">H1 Heading • 12/20 • Accent • 1</h1>

<br>

<div style="background-color: #000;">
  <br>
  <h1 class="light">H1 Heading Light</h1>
  <h2 class="light">H2 Heading Light</h2>
  <h3 class="light">H3 Heading Light</h3>
  <h4 class="light">H4 Heading Light</h4>
  <h5 class="light">H5 Heading Light</h5>
  <h6 class="light">H6 Heading Light</h6>
  <br>
</div>

<br>

<h1 class="display1">Display 1 • 72/86 • Primary • 0.9</h1>
<h1 class="display2">Display 2 • 56/68 • Primary • 0.9</h1>
<h1 class="display3">Display 3 • 48/60 • Primary • 0.9</h1>
<h1 class="display4">Display 4 • 36/44 • Primary • 0.9</h1>
<h1 class="display5">Display 5 • 28/36 • Primary • 0.9</h1>
<h1 class="display6">Display 6 • 24/32 • Primary • 0.9</h1>
<h1 class="display7">Display 7 • 20/28 • Primary • 0.9</h1>
<h1 class="display8">Display 8 • 16/24 • Primary • 0.9</h1>
<h1 class="display9">Display 9 • 12/20 • Primary • 0.9</h1>

<br>

<h1 class="display1 secondary">Display 1 • 72/86 • Secondary • 0.6</h1>
<h1 class="display2 secondary">Display 2 • 56/68 • Secondary • 0.6</h1>
<h1 class="display3 secondary">Display 3 • 48/60 • Secondary • 0.6</h1>
<h1 class="display4 secondary">Display 4 • 36/44 • Secondary • 0.6</h1>
<h1 class="display5 secondary">Display 5 • 28/36 • Secondary • 0.6</h1>
<h1 class="display6 secondary">Display 6 • 24/32 • Secondary • 0.6</h1>
<h1 class="display7 secondary">Display 7 • 20/28 • Secondary • 0.6</h1>
<h1 class="display8 secondary">Display 8 • 16/24 • Secondary • 0.6</h1>
<h1 class="display9 secondary">Display 9 • 12/20 • Secondary • 0.6</h1>

<br>

<h1 class="display1 disabled">Display 1 • 72/86 • Disabled • 0.2</h1>
<h1 class="display2 disabled">Display 2 • 56/68 • Disabled • 0.2</h1>
<h1 class="display3 disabled">Display 3 • 48/60 • Disabled • 0.2</h1>
<h1 class="display4 disabled">Display 4 • 36/44 • Disabled • 0.2</h1>
<h1 class="display5 disabled">Display 5 • 28/36 • Disabled • 0.2</h1>
<h1 class="display6 disabled">Display 6 • 24/32 • Disabled • 0.2</h1>
<h1 class="display7 disabled">Display 7 • 20/28 • Disabled • 0.2</h1>
<h1 class="display8 disabled">Display 8 • 16/24 • Disabled • 0.2</h1>
<h1 class="display9 disabled">Display 9 • 12/20 • Disabled • 0.2</h1>

<br>

<h1 class="display1 accent">Display 1 • 72/86 • Accent • 1</h1>
<h1 class="display2 accent">Display 2 • 56/68 • Accent • 1</h1>
<h1 class="display3 accent">Display 3 • 48/60 • Accent • 1</h1>
<h1 class="display4 accent">Display 4 • 36/44 • Accent • 1</h1>
<h1 class="display5 accent">Display 5 • 28/36 • Accent • 1</h1>
<h1 class="display6 accent">Display 6 • 24/32 • Accent • 1</h1>
<h1 class="display7 accent">Display 7 • 20/28 • Accent • 1</h1>
<h1 class="display8 accent">Display 8 • 16/24 • Accent • 1</h1>
<h1 class="display9 accent">Display 9 • 12/20 • Accent • 1</h1>

<br>

<div style="background-color: #000;">
  <br>
  <h1 class="display1 light">Display 1 • 72/86 • Light • 1</h1>
  <h1 class="display2 light">Display 2 • 56/68 • Light • 1</h1>
  <h1 class="display3 light">Display 3 • 48/60 • Light • 1</h1>
  <h1 class="display4 light">Display 4 • 36/44 • Light • 1</h1>
  <h1 class="display5 light">Display 5 • 28/36 • Light • 1</h1>
  <h1 class="display6 light">Display 6 • 24/32 • Light • 1</h1>
  <h1 class="display7 light">Display 7 • 20/28 • Light • 1</h1>
  <h1 class="display8 light">Display 8 • 16/24 • Light • 1</h1>
  <h1 class="display9 light">Display 9 • 12/20 • Light • 1</h1>
  <br>
</div>