{{> modules-GM1-Global-Nav-Header }}

{{> modules-M41-Product-Hero-Sticky-CTA }}

{{> modules-M13B-Featured-Preview-Publications }}

{{> modules-M10-Banner-Ad }}

{{> modules-GM2-Global-Nav-Footer }}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
    
		<div class="modal-content">

			<div class="modal-header p-4 m-0">
        		<p class="display4 bold m-0">Buying options</p>
       			<button type="button" class="close black" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
     		</div>

      		<div class="modal-body p-0">
	     		<div class="modal-section m-4 p-4">
					<p class="display6 bold">eBook</p>
					<p class="display8 secondary">A digital book provided in three formats (PDF, ePub and Mobi) for a single price. Accessible within “MyICSC” after purchasing.</p>
					<a href="#" class="accent">Select Format</a>
					<p class="display7"><input type="radio" class="mr-3"> Member Price $34.95</p>
					<p class="display7"><input type="radio" class="mr-3"> Non-Member Price $44.95</p>	
				</div>
				<div class="modal-section m-4 p-4">
					<p class="display6 bold">Print</p>
					<p class="display8 secondary">A physical copy (softcover, hardcover or magazine) shipped to your desired shipping location.</p>
					<p class="display7">Quantity <input type="text" value="1" /></p>
					<p class="display7"><input type="radio" class="mr-3"> Member Price $39.955</p>
					<p class="display7"><input type="radio" class="mr-3"> Non-Member Price $49.95</p>	
				</div>
			</div>

	      	<div class="modal-footer">
	        	<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        	-->
	        	Total Quantity: 1
	        	$39.95
	        	<button type="button" class="btn btn-primary">Buy Now</button>

	      	</div>

    	</div>

	</div>
</div>
