{{> modules-GM1-Global-Nav-Header }}

<div class="container">
	<div class="row mt-3 mb-4">
		<div class="col">

			<p class="display6 bold my-3">Modal Test Page:</p>
			<button type="button" class="btn btn-primary d-inline-block my-3 cta" data-toggle="modal" data-target="#MM1">MM1 Purchase Modal</button>
			<button type="button" class="btn btn-primary d-inline-block my-3 cta" data-toggle="modal" data-target="#MM2">MM2 General Modal</button>
			<button type="button" class="btn btn-primary d-inline-block my-3 cta" data-toggle="modal" data-target="#MM3">MM3 Login Modal</button>

		</div>
	</div>
</div>

{{> modules-MM1-Purchase-Modal }}
{{> modules-MM2-General-Modal }}
{{> modules-MM3-Login-Modal }}

{{> modules-GM2-Global-Nav-Footer }}