/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */

a {
	color: $red;
	text-decoration: none;
	outline: 0;
  transition: $transition-hover-default;
	&:hover, &:focus {
		color: $original-red;
	}
}
