
<div class="jumbotron jumbotron-fluid members-promo m-0 pt-7 pb-7">
  <div class="container ">
      <h1 class="text-center light ">{{ members-promo.heroTitle }}</h1>
      <p class="text-center lead light mt-4 w-50 d-flex mx-auto">{{ members-promo.heroDesc }}</p>
      <button type="button" class="btn btn-outline-secondary d-block mx-auto mt-5">{{ members-promo.ctaTxt }}</button>
  </div>
</div>
