<footer class="footer">
	<div class="container-fluid bg-gray">
		<div class="container">
		    <div class="footer-menu pt-4 pb-4">
		    	<ul class="nav flex-column flex-sm-row">
		    		<li class="flex-sm-fill nav-item"><a class="nav-link text-white" href="#">About Us</a></li>
		    		<li class="flex-sm-fill nav-item"><a class="nav-link text-white" href="#">Contact Us</a></li>
		    		<li class="flex-sm-fill nav-item"><a class="nav-link text-white" href="#">Sponsorship & Advertising</a></li>
		    		<li class="flex-sm-fill nav-item"><a class="nav-link text-white" href="#">FAQ</a></li>
		    	</ul>
		    </div>
		</div>
	</div>

	<div class="container-fluid bg-gray-dark pt-4 pb-4">
		<div class="container">
		    <div class="footer-follow">
		    	<p class="nav-link hidden-md-up text-muted mt-2">Follow Us</p>
		    	<ul class="nav">
		    		<li class="nav-item hidden-sm-down"><p class="nav-link text-muted mt-2">Follow Us</p></li>
		    		<li class="nav-item"><a class="nav-link text-muted" href="#"><img class="icsc-logo" src="../../../images/facebook.jpg" width="40"></a></li>
		    		<li class="nav-item"><a class="nav-link text-muted" href="#"><img class="icsc-logo" src="../../../images/twitter.jpg" width="40"></a></li>
		    		<li class="nav-item"><a class="nav-link text-muted" href="#"><img class="icsc-logo" src="../../../images/instagram.jpg" width="40"></a></li>
		    		<li class="nav-item"><a class="nav-link text-muted" href="#"><img class="icsc-logo" src="../../../images/blog.jpg" width="40"></a></li>
		    	</ul>
		    </div>
		</div>
	</div>

	<div class="container-fluid bg-gray-dark pb-4">
		<div class="container">
			<div class="footer-attributes">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<p class="text-gray display9">&copy; Copyright 2017 International Council of Shopping Centers. All rights Reserved.</p>
					</div>
					<div class="col-md-6 col-xs-12">
						<ul class="nav flex-column flex-sm-row justify-content-end">
							<li class="flex-sm-fill nav-item"><a class="nav-link text-gray display9" href="#">About</a></li>
							<li class="flex-sm-fill nav-item"><a class="nav-link text-gray display9" href="#">Antitrust Policy</a></li>
							<li class="flex-sm-fill nav-item"><a class="nav-link text-gray display9" href="#">Terms Of Service</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>