


<header class="header">

  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded" role="navigation" >

    <a class="navbar-brand" href="#"><img class="icsc-logo" src="../../../images/ICSC-logo.jpg" width="70"></a>

    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target=".collapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
    <div class="collapse navbar-collapse justify-content-end flex-column">

      <div class="d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" >Who We Are</a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
              <a class="dropdown-item" href="#">Our Mission</a> 
              <a class="dropdown-item" href="#">Leadership</a> 
              <a class="dropdown-item" href="#">Foundation</a>
              <a class="dropdown-item" href="#">Community Dev.</a>
              <a class="dropdown-item" href="#">Awards and Recognition</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
          <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Ny,USA</a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
              <a class="dropdown-item" href="#">London, UK</a> 
              <a class="dropdown-item" href="#">Tokyo, JP</a> 
            </div>
          </li>
        </ul>
      </div>
      
      
     
    </div>

  </nav>
</header>

