
<div class="jumbotron jumbotron-fluid ev-listing-hero m-0 p-0">
  <div class="container py-7">
    <h1 class="display3 text-center bold">{{ eventListing.heroTitle }}</h1>
    <p class="display3 d-flex justify-content-center accent heroCat bold">{{ eventListing.heroCat }}</p>
  </div>
</div>
