
<div class="card">

  <!-- Real Image --> 
  <!-- <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}"> -->

  <!-- Fake Image --> 
  <div class="member-card-img member-default mt-4 mt-lg-5 d-flex align-items-center mx-auto" alt="{{ cards.memberName }}" >
    <div class="letters mx-auto">
      <span class="display5">{{ cards.memberFirstInit }}</span><span class="display5">{{ cards.memberLastInit }}</span>
    </div>
  </div>

  <div class="card-block py-0">
    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberLocale }}</p>
    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
  </div>
  <div class="card-icons mt-3 mt-lg-4 p-3 w-100 d-flex justify-content-end">
    <a href="#" class="share share--facebook mr-5 " data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" title=" 
        
          <div class='addthis_toolbox bg-gray-dark'>
            
              <a class='addthis_button_facebook'><img src='/images/facebook-white.svg' alt='Share to Facebook' height='28' width='28'  ></a>
              <a class='addthis_button_linkedin px-2'><img src='/images/linkedIn-white.svg' alt='Share to LinkedIn' height='28' width='28' ></a>
              <a class='addthis_button_twitter'><img src='/images/twitter-white.svg' alt='Share to Twitter' height='28' width='28' ></a>
            
          </div>

        "></a>
    <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
  </div>
  
</div>
