
<div class="col-md-2 pr-md-0 hidden-sm-down left-nav">
  <a href="#" class="display9 accent back">{{ leftNav.backText }}</a>
  <ul class="sidebar-nav mt-md-4 pt-md-1 pl-md-4">
    <li class="d-block mt-md-4"><a href="#" class="display9 secondary">{{ leftNav.link1 }}</a></li>
    <li class="d-block mt-md-4"><a href="#" class="display9 secondary active bold">{{ leftNav.link2 }}</a></li>
    <li class="d-block mt-md-4"><a href="#" class="display9 secondary">{{ leftNav.link3 }}</a></li>
    <li class="d-block mt-md-4"><a href="#" class="display9 secondary">{{ leftNav.link4 }}</a></li>
    <li class="d-block mt-md-4"><a href="#" class="display9 secondary">{{ leftNav.link5 }}</a></li>
  </ul>
</div>
