
<div class="col-md-2 pr-md-0 hidden-sm-down left-nav">
  <a href="#" class="display9 accent back">{{ leftNav.backText }}</a>
  <ul class="sidebar-nav mt-md-4 pt-md-1 pl-0"> 
    <li class="d-block"><a href="#" class="display8 secondary">{{ leftNav.link1 }}</a></li>
    <li class="d-block"><a href="#" class="display8 bold">{{ leftNav.link2 }}</a></li>
    <li class="d-block"><a href="#" class="display8 secondary">{{ leftNav.link3 }}</a></li>
    <li class="d-block"><a href="#" class="display8 secondary">{{ leftNav.link4 }}</a></li>
    <li class="d-block"><a href="#" class="display8 secondary">{{ leftNav.link5 }}</a></li>
  </ul>
</div>
