<div class="pt-3 pb-4 pt-md-4 pb-md-5">
	<div class="container infographic-wrapper">
		<div class="row my-4">
			<div class="col">
				<h2 class="display6 bold">{{infographic.title}}</h2>
			</div>
		</div>
		<div class="row mb-4">
			{{#infographic.items}}
			    <div class="col-12 col-md-4 text-md-center px-md-3 px-lg-5 px-xl-6">
			    	<div class="row">
			    		<div class="col-4 col-md-12">
							<img class="mb-3 img-fluid" src="{{src}}" >
						</div>
						<div class="col-8 col-md-12 my-auto">
							<p class="display9">{{text}}</p>
						</div>
					</div>
				</div>
			{{/infographic.items}}
		</div>
		{{> components-CXX-Share-Bar }}
	</div>
</div>