<div class="container mb-6">
	<div class="row pt-md-6">
		<div class="col-md-2 hidden-sm-down"></div>
		<div class="col-12 col-md-8 pb-3 pb-sm-4 pb-md-0 pt-0 ">
				<p class="display4 text-center bold	">
					&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt.&rdquo;
				</p>
				<p class="text-center share-bar share-bar--small">
					<a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.facebookSrcMed }}" alt="Facebook Icon"></a>
		    	<a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.twitterSrcMed }}" alt="Twitter Icon"></a>
	  	  	<a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.linkedinSrcMed }}" alt="LinkedIn Icon"></a>
	  	  </p>
		</div>
		<div class="col-md-2 hidden-sm-down"></div>
	</div>
</div>



