<div class="container mb-6">
  <div class="row pt-md-6">
	  <div class="col-md-1 hidden-sm-down"></div>
		<div class="col-12 col-md-10 pb-3 pb-sm-4 pb-md-0 pt-0 ">
    	<img src="//via.placeholder.com/920x601" class="img-fluid pb-3" />
    	<p class="display9"><span class="bold">Image Title</span> Image description Lorem Ipsum dolor set</p>
    </div>
    <div class="col-md-1 hidden-sm-down"></div>
  </div>
</div>
