<!-- Sticky CTA -->
<div class="container-fluid sticky-cta m-0 p-0 py-md-2">

  <!-- Desktop -->
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-end pr-0 py-3">
        <p class="display7 d-inline-block my-auto mr-auto bold sticky-title">
          <a class="top" href="#">{{{ eventHero.heroTitle }}}</a>
        </p>

        <a href="#" class="share share--facebook pt-2 mt-2 " data-toggle="popover" data-placement="bottom" data-html="true" title=" 
        
        <div class='addthis_toolbox bg-gray-dark'>
          <div class='custom_images'>
            <a class='addthis_button_facebook'>
              <img src='/images/facebook-white.svg' alt='Share to Facebook' class='px-3' >
            </a>
            <a class='addthis_button_linkedin'>
              <img src='/images/twitter-white.svg' alt='Share to Twitter' class='px-3'>
            </a>
            <a class='addthis_button_twitter'>
              <img src='/images/linkedIn-white.svg' alt='Share to LinkedIn' class='px-3'>
            </a>
          </div>
        </div>
        <script src='https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-509abf9a50f845b6'></script>
         
        "></a>

        <a href="#" class="share share--save ml-5 mt-1" data-placement="bottom" data-html="true" ></a>

      </div>
    </div>
  </div>
</div>
