<!-- Sticky CTA --> 
<div class="container-fluid sticky-cta m-0 p-0 py-md-2 mb-4 mb-md-6">
	
	<!-- Desktop --> 
	<div class="container">
        <div class="row">
        	<div class="col d-flex justify-content-end pr-0 py-3">
        		<p class="display7 d-inline-block my-auto mr-auto bold sticky-title"><a class="top" href="#">{{{ eventHero.heroTitle }}}</a></p>
        		<a href="#"><img class="d-inline-block mr-4 ml-3" src="{{ cards.shareImg }}" alt="Share Icon" data-toggle="tooltip" data-placement="bottom" 
                    title="<img src='/images/facebook-white.svg' /> <img src='/images/twitter-white.svg' /> <img src='/images/linkedIn-white.svg' />"></a>
        		<a href="#"><img class="d-inline-block mr-4" src="{{ cards.saveImg }}" alt="Favorite Icon" data-toggle="tooltip" data-placement="bottom" title="Share text"></a>
        	</div>
        </div>
	</div>
</div>
