<div class="row wysiwyg-text-wrapper">
	<div class="col-md-8 offset-md-2">
		
		<h1>This is an h1</h1>
		<h2>This is an h2</h2>
		<h3>This is an h3</h3>
		<h4>This is an h4</h4>
		<h5>This is an h5</h5>
		<h6>This is an h6</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>

		<p>This is a paragraph with <strong>strong text</strong> and <em>emphasized 
		text</em> and <a href="#">link text</a> inside.</p>
		
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
			eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
			nisi ut aliquip ex ea commodo consequat.</li>
			<li> Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur.</li>
		</ul>	

	</div>
</div>

