<div class="row standard-text-wrapper">
	<div class="col-md-8 offset-md-2">
		
			<h6>{{textBlockLarge.text}}</h>
		
			<h2>{{textBlock.title}}</h2>
			<p>{{textBlock.text}}</p>

			<h2>{{textBlock.title}}</h2>
			<p">{{textBlock.text}}</p>

			<p>hello<a href="#">test link</a></p>
			
			<h2>{{textBlock.title}}</h2>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
				<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
				<li> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
			</ul>	
			
		</div>
	</div>
</div>

