<div class="jumbotron jumbotron-fluid m-0 pt-md-0 pb-0  location-callout"  style="background-image: url('{{ location.mapImg }}');" >
	
	<div class="container hidden-sm-down">
			<div class="row">
				<div class="col-md-5 overlay my-5 py-4 py-md-6 px-md-4">
					<h1 class="display5 bold">{{{ eventHero.locale }}}</h1>
					<p class="display8 secondary mt-3 mt-md-4 mb-0">1 Old Gold Course Rd</p>
					<p class="display8 secondary mt-md-1">Monterey, CA 93940</p>
					<p class="display8 secondary mt-3 mt-md-5 mb-0 accent">+1 646 728 3800</p>
					<p class="display8 mt-3 mt-md-5 mb-0"><a href="#" class="accent">monterey.regency.hyatt.com</a></p>
				</div>
				<div class="col-md-7 hidden-sm-down">
					&nbsp;
				</div>
			</div>  
	</div>
	
</div>

<div class="container hidden-md-up map-details">
	<div class="row">
		<div class="col overlay m-0 py-4">
			<h1 class="display5 bold">{{{ eventHero.locale }}}</h1>
			<p class="display8 secondary mt-3 mt-md-4 mb-0">1 Old Gold Course Rd</p>
			<p class="display8 secondary mt-md-1">Monterey, CA 93940</p>
			<p class="display8 secondary mt-3 mt-md-5 mb-0 accent">+1 646 728 3800</p>
			<p class="display8 mt-3 mt-md-5 mb-0"><a href="#" class="accent">monterey.regency.hyatt.com</a></p>
		</div>
	</div>  
</div>
