
<div class="container search-bar">
  <div class="row">
    <div class="col">
      <div class="input-group hidden-sm-down ">
        <input type="text" class="form-control border-right-0 w-100" placeholder="Search for...">
        <span class="px-5 py-2 search-date">Blah Blah</span>
        <span class="input-group-btn">
          <button class="btn btn-secondary border-0 bg-red py-2 px-7" type="button">
            <img src="{{ searchIcon.src }}" alt="Search Icon" class="p-0">
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

