<style>
  * { background-color: rgba(0, 0, 0, .1); }
</style>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-red">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
    <div class="col-1 bg-gray-dark">
      <span class="d-block bg-gray w-100">&nbsp;</span>
    </div>
  </div>
</div>

<br><br>