
<div class="container-fluid bg-gray-lightest py-4 py-md-7">
	<div class="container">
		<div class="d-flex justify-content-end m-0 p-0">
		  <span class="display7 secondary mr-auto">Other events you may like</span>
		  <span class="display7"><a href="#" class="view-all accent">View all -></a></span>

		</div>
		<div class="row mt-4">
		  <div class="col-md-6 col-lg-4">{{> components-C26A-Event-Card }}</div>
		  <div class="col-md-6 col-lg-4">{{> components-C26A-Event-Card }}</div>
		  <div class="col-md-6 col-lg-4 hidden-md-down">{{> components-C26A-Event-Card }}</div>
		</div>
	</div>
</div>
