<div class="jumbotron jumbotron-fluid short-hero m-0 py-5 py-md-7">
  <div class="container">
    <h1 class="text-center light bold mb-3">{{ short-hero.heroTitle }}</h1>
    <p class="text-center light display6">{{ short-hero.heroDesc }}</p>
  </div>
</div>