<div class="jumbotron jumbotron-fluid short-hero m-0 py-5 py-md-7" style="background-image: url('{{shortHero.imgSrc}}')">
  <div class="container">
    <h1 class="text-center light display3 bold mb-3">{{ shortHero.heroTitle }}</h1>
    <p class="text-center light display6">{{ shortHero.heroDesc }}</p>
  </div>
</div>