<div class="container">

  <div class="row mb-7 text-center text-md-left">
  	<div class="col-md-6 px-md-3 px-lg-5 px-xl-6 push-md-6 ">
        <img src="https://placeimg.com/350/350/any" class="img-fluid p-4">
    </div>
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6 pull-md-6">      
      <p class="display4 text-primary bold pt-4">Tax reform</p>
      <p class="display8 secondary mb-4">
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna leo. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes.
      </p>
			<button type="button" class="btn btn-primary mx-auto mb-md-5 px-6">Learn more</button>
    </div>
  </div>


  {{! COPIED FROM ABOVE - REVERSED ORDER}}
  <div class="row mb-7 text-center text-md-left">
  	<div class="col-md-6 px-md-3 px-lg-5 px-xl-6">
        <img src="https://placeimg.com/350/350/any" class="img-fluid p-4">
    </div>
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6">      
      <p class="display4 text-primary bold pt-4">Tax reform</p>
      <p class="display8 secondary mb-4">
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna leo. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes.
      </p>
			<button type="button" class="btn btn-primary mx-auto mb-md-5 px-6">Learn more</button>
    </div>
  </div>

</div>

