<div class="container">

  <div class="row mb-3 mb-md-7 text-center text-md-left callout-item">
  	<div class="col-md-6 px-md-3 px-lg-5 px-xl-6 push-md-6 ">
        <img src="{{ callout1.imgSrc }}" width="350" height="350" class="img-fluid p-4">
    </div>
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6 pull-md-6">      
      <p class="display4 text-primary bold pt-4">{{ callout1.title}}</p>
      <p class="display8 secondary mb-4">{{ callout1.desc}}</p>
			<button type="button" class="btn btn-primary mx-auto mb-md-5 px-6">Learn more</button>
    </div>
  </div>

  {{! COPIED FROM ABOVE (REVERSE ORDER) }}
  <div class="row mb-3 mb-md-7 text-center text-md-left callout-item">
  	<div class="col-md-6 px-md-3 px-lg-5 px-xl-6">
        <img src="{{ callout2.imgSrc }}" width="350" height="350" class="img-fluid p-4">
    </div>
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6">      
      <p class="display4 text-primary bold pt-4">{{ callout2.title}}</p>
      <p class="display8 secondary mb-4">{{ callout2.desc}}</p>
			<button type="button" class="btn btn-primary mx-auto mb-md-5 px-6">Learn more</button>
    </div>
  </div>

  {{! COPIED FROM ABOVE }}
  <div class="row mb-3 mb-md-7 text-center text-md-left callout-item">
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6 push-md-6 ">
        <img src="{{ callout3.imgSrc }}" width="350" height="350" class="img-fluid p-4">
    </div>
    <div class="col-md-6 px-md-3 px-lg-5 px-xl-6 pull-md-6">      
      <p class="display4 text-primary bold pt-4">{{ callout3.title}}</p>
      <p class="display8 secondary mb-4">{{ callout3.desc}}</p>
      <button type="button" class="btn btn-primary mx-auto mb-md-5 px-6">Learn more</button>
    </div>
  </div>

</div>

