
<div class="container">
  <div class="row mb-4">
    <div class="col-1"></div>
    <div class="col-5 pr-5">      
      <p class="display4 text-primary bold">Tax reform</p>
      <p class="display8 secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna leo. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes.</p>
			<button type="button" class="btn btn-primary mx-auto mb-md-5 px-7">Learn more</button> {{! d-block mt-4 mt-md-6 }}
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <img src="https://placeimg.com/350/350/any">
    </div>
    <div class="col-1"></div>
  </div>
</div>
