
<div class="container content-block-narrow pt-5 pt-md-4">
  <div class="row">
		
		{{> components-C36-Left-Nav }}

		<!-- Spacer --> 
		<div class="col-md-1 hidden-sm-down">&nbsp;</div>
		
		<div class="col-md-7">
			
			{{> components-C50-Sub-Hero-Copy }}
			
			<div class="row pb-6">
				<div class="col-md-10">
					<div class="body-copy">
						<h2 class="display6 bold">Sponsor or exhibit at an event</h2>
						
						<p class="display8 mt-4 mt-md-3 secondary">As a sponsor or exhibitor at a regional deal-making conference or idea exchange, you could get in front of more than 8,000 industry stakeholders. Or target your customers with digital displays of your company name at a conference.</p>
						<p class="display8 mt-4 mt-md-3 download"><a href="#" class="accent">Download the RECon sponsorship brochure</a></p>
						<img src="{{ imagePath }}images/recon-photo@2x.jpg" alt="Recon Photo" class="w-100 pt-5">

						<h2 class="display6 bold mt-6">Advertise in our publications</h2>
						
						<h3 class="display7 mt-4">Advertise in print</h3>
						<p class="display8 mt-2 secondary">Our targeted audience helps you focus on qualified buyers in the global retail real estate industry. We reach more than 750,000 readers across the six industry magazine brands we publish, and many are distributed on-site at our conferences and exhibitions.</p>

						<h3 class="display7 mt-4">Advertise digitally</h3>
						<p class="display8 mt-2 secondary">Place a banner ad on one of the most trafficked pages of ICSC.org, which has 110,000 unique monthly visitors and more than 1 million annual page views. Or, target your customer of choice with an ad on our mobile app or in weekly international e-newsletters.</p>
						
						<p class="display8 mt-4 mt-md-3 download"><a href="#" class="accent">Download our media kit</a></p>
					</div>
				</div>
			</div>


		</div>

  </div>
</div>
