
<!-- Hero --> 
<!--<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 image-with-cta" style="background-image: url( {{ imagePath }}images/m-11-image@2x.png )" > -->
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 image-with-cta" style="background-image: url( {{ imagePath }}images/m11-bg@2x.png )" >
	<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1 class="display3 bold">Save on getting the scoop</h1>
					<p class="hero-desc lead mt-4 display8">Our members get discounted publications, access to ICSC Exchange, and a free subscription to Shopping Centers Today.</p>
					<button type="button" class="btn btn-primary d-inline-block mt-4 mr-0 px-6 cta">Join ICSC today</button>
				</div>
			</div>  
	</div>
</div>