
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7" style="background-image: url( {{ newsHero.bgImg }} );" >
	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="hero-desc mt-0 display6 secondary">{{ newsHero.type }}</p>
					<h1 class="display3 bold mt-3">{{{ newsHero.heroTitle }}}</h1>
					<button type="button" class="btn btn-primary d-inline-block mt-4 mr-0 px-6 cta">Learn more</button>
				</div>
				<div class="col-md-6 pr-0 d-flex hidden-sm-down">
					<img class="mt-2 mx-auto h-100" src="{{ imagePath }}images/book@2x.jpg" alt="Publication Cover">
				</div>
			</div>  
	</div>
</div>

