
<div class="container-fluid bg-gray-lightest py-4 pt-md-7 featured-events">
	<div class="container">
		<div class="d-flex justify-content-end m-0 p-0">
		  <span class="display7 secondary mr-auto">Recent titles</span>
		  <span class="display7 m-0 p-0 text-right"><a href="#" class="view-all accent">View all</a></span>
		</div>
		<div class="row mt-4">
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-gray-lightest py-4 pt-md-3 pb-md-6 featured-events">
	<div class="container">
		<div class="d-flex justify-content-end m-0 p-0">
		  <span class="display7 secondary mr-auto">Popular books</span>
		  <span class="display7 m-0 p-0 text-right"><a href="#" class="view-all accent">View all</a></span>
		</div>
		<div class="row mt-4">
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		  <div class="col-md-4">{{> components-C24A-Publication-Card }}</div>
		</div>
	</div>
</div>
