
<div class="container mobile-promo">
  <div class="row justify-content-center" >
    <div class="col-md-5">
      <div class="d-flex flex-column copy">
      	<h1 class="display4 bold mt-5 mt-md-0 hidden-sm-down">{{ singleFeatureCallout.tagline }}</h1>
      	<p class="display8 mt-3">{{ singleFeatureCallout.desc }}</p>
      </div>
    </div>
    <div class="col-md-6 pr-0">
    	<h1 class="display4 bold mt-5 mt-md-0 hidden-md-up ">{{ singleFeatureCallout.tagline }}</h1>
      <img class="p-6 ml-auto promo-img w-100" src="{{ imagePath }}images/promo.svg" alt="Promo Img">
    </div>
  </div>
</div>
