
<div class="container mobile-promo">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column copy">
      	<h1 class="display4 bold mt-5 mt-md-0 hidden-sm-down">Leaders read first</h1>
      	<p class="display8 mt-3">Newsstand offers books, magazines, reports and other  in-depth publications to keep you ahead of the pack.  Check back regularly for new titles and free downloads  for members.</p>
      </div>
    </div>
    <div class="col-md-6 pr-0">
    	<h1 class="display4 bold mt-5 mt-md-0 hidden-md-up ">Leaders read first</h1>
      <img class="p-5 ml-auto promo-img w-100" src="{{ imagePath }}images/promo.svg" alt="Promo Img">
    </div>
  </div>
</div>
