
<div class="container image-tiles pb-4 pb-md-5">
  <div class="row justify-content-center my-4 my-md-5 p-0">
    <h2 class="display3 bold text-primary m-0 p-0">
    	Explore Events
    </h2>
  </div>
	
	<div class="row justify-content-center">
		<div class="col-md-12 d-flex flex-column flex-wrap flex-md-row justify-content-md-center">

			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg1 }} );" >
				<p>Deal Making</p></a>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg2 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg3 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg4 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>


			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg1 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg2 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg3 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			<div class="image-tile p-3 d-flex align-items-center mx-auto mb-3 mb-md-5" style="background-image: url( {{ tiles.bgImg4 }} );" >
				<p class="display6 light m-0 p-0 d-flex mx-auto my-auto">Deal Making</p>
			</div>
			

		</div>
	</div>

</div>
