
<div class="container py-5 py-md-7 callouts">
  
  <div class="row">
    <div class="col">
      <h3 class="display7 secondary">Additional Resources</h3>
    </div>
  </div>

  <div class="row">
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Event Brochure</h4>
      <p class="display8">This is an optional description field.</p>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Attendee list</h4>
      <p class="display8">This is an optional description field.</p>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Registration form</h4>
      <p class="display8">This is an optional description field.</p>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  </div>

  <div class="row">
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Optional</h4>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Optional</h4>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  	<div class="col-md-4">
  		<h4 class="display6 text-primary bold mt-4">Optional</h4>
  		<a href="#" class="display8 accent">Download</a>
  	</div>
  </div>

</div>
