
<div class="jumbotron jumbotron-fluid short-hero m-0 pt-7 pb-7">
  <div class="container">
    <h1 class="text-center light">{{ simple-hero.heroTitle }}</h1>
    <p class="text-center lead light">{{ simple-hero.heroDesc }}</p>
  </div>
</div>
