
<div class="container py-5 py-md-7 callouts-attending">
  
  <div class="row">
    <div class="col">
      <h3 class="display5 bold attending">Attending</h3>
      <p class="display7 secondary ml-md-3 mb-0 attending">345 registered</p>
    </div>
  </div>

	<!-- First Row --> 
  <div class="row">
  	
  	<div class="col-md-6 col-lg-4">
  		<div class="row align-items-center mt-5">
				<div class="col-2 m-0 p-0 pl-3">
					<img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="p-0 card-img-right">
				</div>
				<div class="col-10 m-0 p-0">
					<div class="card-block m-0 p-0 pl-5 pr-3 pr-md-0">
						<a href="#"><h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3></a>
						<p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
					</div>
				</div>
			</div>
  	</div>

  	<div class="col-md-6 col-lg-4">
  		<div class="row align-items-center mt-5">
				<div class="col-2 m-0 p-0 pl-3">
					<img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="p-0 card-img-right">
				</div>
				<div class="col-10 m-0 p-0">
					<div class="card-block m-0 p-0 pl-5">
						<a href="#"><h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3></a>
						<p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
					</div>
				</div>
			</div>
  	</div>
  	
  	<div class="col-md-6 col-lg-4">
  		<div class="row align-items-center mt-5">
				<div class="col-2 m-0 p-0 pl-3">
					<img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="p-0 card-img-right">
				</div>
				<div class="col-10 m-0 p-0">
					<div class="card-block m-0 p-0 pl-5">
						<a href="#"><h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3></a>
						<p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
					</div>
				</div>
			</div>
  	</div>

  	<div class="col-md-6 col-lg-4">
  		<div class="row align-items-center mt-5">
				<div class="col-2 m-0 p-0 pl-3">
					<img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="p-0 card-img-right">
				</div>
				<div class="col-10 m-0 p-0">
					<div class="card-block m-0 p-0 pl-5">
						<a href="#"><h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3></a>
						<p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
					</div>
				</div>
			</div>
  	</div>

  </div>

  <div class="row">
  	 <button type="button" class="btn btn-outline-primary d-block mx-auto mt-4 mt-md-6 px-6">View all attendees</button>
  </div>

</div>

