
<div class="container snapshots-rebooted py-5">
  	
  	<div class="mb-5">
  		<h3 class="display4 text-primary bold text-center">What drives us</h3>
  	</div>

  	<div class="row">
  		<div class="col-md-4 text-center">
	      <img class="promo-img mt-3" src="{{ singleFeatureCallout.img }}" alt="Promo Img">
	      <h4 class="display6 bold mt-4">Building communities </h4>
	      <p class="display8 secondary text-center px-4">Retail centers offer more than money — a place to hang out after work, walk around with a child or experience life offline. They enrich the social fabric of the places the world calls home.</p>
  		</div>

  		<div class="col-md-4 text-center">
	      <img class="promo-img mt-3" src="{{ singleFeatureCallout.img }}" alt="Promo Img">
	      <h4 class="display6 bold mt-4">Building communities </h4>
	      <p class="display8 secondary text-center px-4">Retail centers offer more than money — a place to hang out after work, walk around with a child or experience life offline. They enrich the social fabric of the places the world calls home.</p>
  		</div>

  		<div class="col-md-4 text-center">
	      <img class="promo-img mt-3" src="{{ singleFeatureCallout.img }}" alt="Promo Img">
	      <h4 class="display6 bold mt-4">Building communities </h4>
	      <p class="display8 secondary text-center px-4">Retail centers offer more than money — a place to hang out after work, walk around with a child or experience life offline. They enrich the social fabric of the places the world calls home.</p>
  		</div>
  	

  	</div>
</div>