
<div class="container snapshots-rebooted py-5">
  	
  	<div >
  		<h3 class="display4 bold text-center">Our Heritage</h3>
  		<p class="display7 text-center secondary">With a $500 payment and a handshake, seven enterprising professionals established ICSC in a downtown Chicago hotel. It was 1957. The next 60 years saw those humble roots grow to more than 70,000 members and extend into 100 different countries.</p>
  	</div>

</div>
