
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 event-hero" style="background-image: url( {{ profileDetail.bgImg }} );" >
	<div class="container">
		<div class="row my-3 my-md-5">
			<div class="col text-center">
				

				<p class="text-left"><a href="#" class="accent display8 p-0 m-0">Back to find members</a></p>


				
				<img src="{{ profileDetail.imgSrc }}" class="p-0 m-0 pb-4" />

		      	<h1 class="display3 bold p-0 m-0">{{ profileDetail.name }}</h1>
		      	<div class="mb-3">
			      	<p class="display6 secondary p-0 m-0">{{profileDetail.position}}</p>
		    	  	<p class="display6 secondary p-0 m-0">{{profileDetail.department}}</p>
		      		<p class="display6 secondary p-0 m-0">{{profileDetail.location}}</p>
		      	</div>
		      	<p class="display6 accent p-0 m-0">{{profileDetail.company}}</p>


			</div>
		</div>  
	</div>
</div>

<!-- Sticky Bar --> 
<div class="container-fluid sticky-cta m-0 p-0 py-md-2 mb-md-6">
	
	<div class="container"> 
	    <div class="row">
	    	<div class="col d-flex justify-content-end pr-0 py-3">
	    		<p class="display7 d-inline-block my-auto mr-auto bold sticky-title"><a class="top" href="#">{{{ eventHero.heroTitle }}}</a></p>
	    		<img class="d-inline-block mr-4" src="{{ cards.shareImg }}" alt="Share Icon">
	    		<img class="d-inline-block mr-4" src="{{ cards.saveImg }}" alt="Favorite Icon">
	    	</div>
    	</div>
	</div>
	
</div>