
<div class="container">
	
	<div class="row">
		<div class="col-md-12 display3 bold text-center my-5">Featured speakers</div>
	</div>

	<div class="row">
		
		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>

		<div class="col-md-6 col-lg-3">
					<div class="card">
					  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
					  <div class="card-block py-0">
					    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
					    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p>
					    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
					  </div>
					</div>
		</div>



</div>

	<div class="row">
		<button type="button" class="btn btn-outline-primary d-block mx-auto mt-4 mt-md-6 mb-md-5 px-7">View all speakers</button>
	</div>

</div>

	