
<div class="carousel slide bg-gray-light card-carousel hidden-sm-down" data-ride="false" id="cardsCarousel" >

	<ol class="carousel-indicators">
		<li data-target="#cardsCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#cardsCarousel" data-slide-to="1"></li>
		<li data-target="#cardsCarousel" data-slide-to="2"></li>
	</ol>
		
	<div class="container">
		
		<div class="row">
			<div class="col-md-12 display3 bold text-center my-md-5">Featured speakers</div>
		</div>

		<div class="row">
			<div class="col">

				<div class="carousel-inner">

					<div class="card-deck carousel-item active">
						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card hidden-md-down">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>
					</div>

					<div class="card-deck carousel-item">
						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>


						<div class="card hidden-md-down">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>
					</div>

					<div class="card-deck carousel-item">
						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>

						<div class="card hidden-md-down">
						  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
						  <div class="card-block py-0">
						    <a href="#" class="profile-name-link"><h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
						    <p class="display8 secondary mt-2 mb-0 text-center member-title" >{{ cards.memberTitle }}</p> 
						    <a href="#" class="profile-co-link"><p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p></a>
						  </div>
						</div>
					</div>

				</div>

			</div>
		</div>
		
		<div class="row">
			<button type="button" class="btn btn-outline-primary d-block mx-auto mt-4 mt-md-6 mb-md-5 px-7">View all speakers</button>
		</div>

	</div>

		<a class="carousel-control-prev hidden-sm-down" href="#" role="button" data-target="#cardsCarousel" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next hidden-sm-down" href="#" data-target="#cardsCarousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>

</div>
