
<div class="container pb-5 list-card-module">
  	
  	<h3 class="display4 bold mt-5 mb-3 mt-md-5 mb-md-4 mt-lg-6 mb-lg-5 text-center">Latest News &amp; Views</h3>

  	{{> components-C25C-General-List-Latest-News }}
  	{{> components-C25C-General-List-Latest-News }}
  	{{> components-C25C-General-List-Latest-News }}

  	<button type="button" class="btn btn-primary d-flex mx-auto mt-3 mt-md-5 cta">See all News &amp; Views</button>

</div>
