
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 event-hero event-hero__no-overlay" style="background-image: url('{{hero.bgImg}}');" >
	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!--
					
					<p class="mt-5 display4">{{ eventHero.date }}</p>
					<p class= mt-4 mb-0 display6">{{ eventHero.venue }}</p>
					<p class="mt-0 display6">{{ eventHero.locale }}</p> }}

					-->


					Back to Newsstand
					
					<p class="display8 secondary">{{ hero.category }}</p>
					<h1 class="mb-4 display3 bold">{{ hero.title }}</h1>
					<p class="display7">{{ hero.price }}</p>
					
				</div>
			</div>  
	</div>
</div>

{{> components-CXX-Sticky-CTA }}

