
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 event-hero event-hero__no-overlay" style="background-image: url('{{ eventHero.bgImg}}');" >
	<div class="container">
			<div class="row flex-row-reverse">

				<div class="col-md-6 text-center py-5 py-md-6 mx-7 mx-md-0">
					<img src="//via.placeholder.com/253x328" class="img-shadow img-fluid" />
				</div>

				<div class="col-md-6 text-center text-md-left">
					<div class="left-nav text-left hidden-sm-down mb-7">
						<a href="#" class="display8 accent back p-0 m-0">{{ eventHero.linkText }}</a>
					</div>
					<a href="#" class="display9 accent back"></a>
					<p class="display8 secondary">{{ eventHero.category }}</p>
					<h1 class="mb-4 display3 bold">{{ eventHero.heroTitle }}</h1>
					<p class="display7 hidden-sm-down">{{ eventHero.price }}</p>
				</div>
			</div>  
	</div>
</div>

{{> components-CXX-Sticky-CTA }}

<div class="container">

	<div class="row">
		<div class="col-md-8 offset-md-2">
		 	{{>components-CXX-Text-Block}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 offset-md-2">
		 	{{>components-CXX-Text-List}}
		</div>
	</div>

</div>