
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 event-hero event-hero__no-overlay py-4" style="background-image: url('{{ eventHero.bgImg}}');" >
	<div class="container">

			<div class="row">
				<div class="col text-center text-md-left">
					<div class="left-nav text-left mb-0 mb-md-4">
						<a href="#" class="display8 accent back p-0 m-0">{{ eventHero.linkText }}</a>
					</div>
				</div>
			</div>
			
			<div class="row flex-row-reverse">
				<div class="col-md-5 text-center py-5 py-md-6 mx-7 mx-md-0">
					<img src="/images/RCEDmech09-poster.png" class="img-shadow img-fluid" />
				</div>
				<div class="col-md-7 text-center text-md-left pt-md-5">
					<p class="display8 secondary">{{ eventHero.category }}</p>
					<h1 class="mb-4 display3 bold">{{ eventHero.heroTitle }}</h1>
					<p class="display7">{{ eventHero.price }}</p>
				</div>
			</div>  
	</div>
</div>

{{> components-C62-Sticky-CTA }}

<div class="container">

	<div class="row">
		<div class="col-md-8 offset-md-2">
		 	{{>components-C64-Text-Block}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 offset-md-2">
		 	{{>components-C65-Text-List}}
		</div>
	</div>

</div>