<div class="container py-4 py-md-5">
	<div class="row mb-3">
  		<div class="col">
  			<p class="display4 bold text-center">Our departments</p>
    	</div>
  	</div>
 	<div class="row">
    	{{#links}}
 	    	<div class="col-sm-6 col-md-4 mb-2">
	     		<p><a href="{{href}}" class="display7 accent">{{title}}</a></p>
	     	</div>
	    {{/links}}
	</div>
</div>
