
<!-- Hero --> 
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 event-hero" style="background-image: url( {{ eventHero.bgImg }} );" >
	<div class="container">
			<div class="row my-3 my-md-5">
				<div class="col-md-12">
					<p class="text-center light display8 p-0 m-0">{{{ eventHero.category }}}</p>
					<h1 class="light display3 bold text-center">{{{ eventHero.heroTitle }}}</h1>
				</div>
			</div>  
	</div>
</div>

<!-- Mobile Share --> 
<div class="container hidden-md-up">
  <div class="row py-3">
  	<div class="col d-flex justify-content-end">
  		<img class="d-inline-block" src="{{ cards.shareImg }}" alt="Share Icon">
  		<img class="d-inline-block ml-5" src="{{ cards.saveImg }}" alt="Favorite Icon">
  	</div>
	</div>
</div>

<!-- Sticky CTA --> 
<div class="container-fluid sticky-cta m-0 p-0 py-md-2">
	
	<!-- Desktop --> 
	<div class="container hidden-sm-down">
    <div class="row">
    	<div class="col d-flex justify-content-end pr-0">
    		<p class="display7 d-inline-block text-primary my-auto mr-auto bold sticky-title"><a class="top" href="#">{{{ eventHero.heroTitle }}}</a></p>
    		<img class="d-inline-block mr-4" src="{{ cards.shareImg }}" alt="Share Icon">
    		<img class="d-inline-block mr-4" src="{{ cards.saveImg }}" alt="Favorite Icon">
    	</div>
    </div>
	</div>
	
</div>

