
<div class="container sponsors pt-5 pb-6 py-md-7">
  <div class="row justify-content-center m-0 p-0">

    <h2 class="display3 bold text-primary m-0 p-0">
    	Sponsors
    </h2>
    <p class="display6 mt-4 mb-0 mt-md-4 px-4 px-md-7 py-0 text-center ">Our sponsors get prime visibility at events and in our publications. And, of course, our gratitude. Learn more about becoming sponsor <a href="#" class="accent">here</a>.</p>
  </div>
	
	<div class="row justify-content-center mt-6">
		<h3 class="display5 bold text-primary m-0 p-0">Global Sponsors</h3>
		<div class="col-md-12 d-flex flex-column flex-md-row justify-content-md-center mt-2 mt-md-4">
			<div class="logo-wrap p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
		</div>
	</div>

	<div class="row justify-content-center mt-6">
		<h3 class="display5 bold text-primary m-0 p-0">Platinum Sponsors</h3>
		<div class="col-md-12 d-flex flex-column flex-md-row flex-wrap justify-content-md-center mt-2 mt-md-4">
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
		</div>
	</div>

	<div class="row justify-content-center mt-6">
		<h3 class="display5 bold text-primary m-0 p-0">Gold Sponsors</h3>
		<div class="col-md-12 d-flex flex-column flex-md-row flex-wrap justify-content-md-center mt-2 mt-md-4">
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
			<div class="logo-wrap platinum p-3 d-flex align-items-center mx-auto">
				<img src="{{ imagePath }}images/logo1-grey.jpg" alt="Logo" class="logo">
				<img src="{{ imagePath }}images/logo1-color.jpg" alt="Logo" class="logo">
			</div>
		</div>
	</div>

</div>
