<div class="container">
	<div class="row mb-4">
		<div class="col-md-2 hidden-sm-down"></div>
		<div class="col-12 col-md-8">
			<div class="asset-promo p-3">
				<div class="container">
					<div class="row">
						<div class="col-8">
							<p class="display7 bold pb-3">Get inspired by the 2017 European Shopping Centre Award Winners</p>
							<button type="button" class="btn btn-primary mx-auto px-6 hidden-md-down">Learn more</button>
							<a href="#" class="accent hidden-lg-up">Learn more</a>
						</div>
						<div class="col-4">
							<img src="//via.placeholder.com/103x144" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-sm-down"></div>
	</div>
</div>