<div class="container">
	<div class="row mb-4">
		<div class="col-md-2 hidden-sm-down"></div>
		<div class="col-12 col-md-8">
			<div class="asset-promo p-3">
				<div class="container">
					<div class="row">
						<div class="col-8">
							<p class="display7 bold pb-3">{{assetPromo.title}}</p>
							<button type="button" class="btn btn-primary mx-auto px-6 hidden-md-down">{{assetPromo.linkText}}</button>
							<a href="#" class="accent hidden-lg-up">{{assetPromo.linkText}}</a>
						</div>
						<div class="col-4 text-right">
							<img src="{{assetPromo.imgSrc}}" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-sm-down"></div>
	</div>
</div>