
<div class="container" style="height: 100vh;" >
  <div class="row h-100">
    <div class="col align-self-center justify-content-center text-center">
      <h1 class="display3 accent">VSA-ICSC Interactive Modular Library</h1>
      <p class="display5">Version 1.0.1</p>
      <a class="text-center d-block mt-4 mb-3 " href="{{ link.modules-GM1-Global-Nav-Header }}">Module: GM1 Global Nav Header</a>
      <a class="text-center d-block my-3" href="{{ link.modules-GM2-Global-Nav-Footer }}">Module: M2 Global Nav Footer</a>
      <a class="text-center d-block my-3" href="{{ link.templates-T04A-Results-Card-View-Article }}">Template: T04BA Results Card View (General / Articles)</a>
      <a class="text-center d-block my-3" href="{{ link.templates-T04B-Results-List-View-Everything }}">Template: T04B Results List View</a>
      <a class="text-center d-block my-3" href="{{ link.modules-M8B-Search-Results-Everything }}">Module: M8B-Search-Results (Everything View)</a>
    </div>
  </div>
</div>
