
<div class="container" style="height: 100vh;">
  <div class="row h-100">
    <div class="col align-self-center justify-content-center text-center">
      <h1 class="display3 accent">VSA-ICSC Interactive Modular Library</h1>
      <p class="display5">Version 1.0.1</p>
      <a class="text-center mx-3" href="{{ link.T04B-Results-List-View-Everything }}">T04B Results List View</a>
      <a class="text-center mx-3" href="{{ link.T04B-Results-List-View-Everything }}">T04B Results List View</a>
      <a class="text-center mx-3" href="{{ link.T04B-Results-List-View-Everything }}">T04B Results List View</a>
    </div>
  </div>
</div>
