<div class="container">
	<div class="row mb-6">
		<div class="col">
			<p class="display6 mb-4">Related Topics:</p>
			<ul class="tag-cloud">
				<li><a href="#" class="display8">Featured</a></li>
				<li><a href="#" class="display8">News</a></li>
				<li><a href="#" class="display8">Public Policy</a></li>
				<li><a href="#" class="display8">Shopping Centers</a></li>
			</ul>
		</div>
	</div>
</div>
