<!-- Button trigger modal -->
{{!<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	Launch demo modal
</button>}}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
    
		<div class="modal-content">



		{{!

			<!-- MODAL 1 -->
			<div class="modal-body p-0">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<form>
								<h2 class="display5 text-center bold mb-3">Log in to your account</h2>
								<div class="form-group">
									<input type="email" class="form-control p-3 display8" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control p-3 display8" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="text-center">	
									<p><button type="submit" class="btn btn-primary">Submit</button></p>
									<p class="border-after"><a href="#" class="display7 accent">Forgot password</a></p>
									<p class="display7 bold">Not a member</p>
									<p><a href="#" class="display7 accent">become a member today</a></p>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
}}


			

			<!-- MODAL 2 -->
			<div class="modal-header p-4 m-0">
        		<p class="display4 bold m-0">Buying options</p>
       			<button type="button" class="close black" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
     		</div>

      		<div class="modal-body p-0">

	     		<div class="modal-section m-4 p-4">
					<p class="display6 bold">eBook</p>
					<p class="display8 secondary">A digital book provided in three formats (PDF, ePub and Mobi) for a single price. Accessible within “MyICSC” after purchasing.</p>
					
					<div class="d-flex justify-content-end listing-filters">
						<a href="#" class="accent">Select Format</a>
						<div class="dropdown d-inline-block my-md-auto">
							<a aria-expanded="false" aria-haspopup="true" class="nav-link sort-list display8 p-0" data-toggle="dropdown" href="#">Select format</a>
							<div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right m-0 mt-2 px-2">
								<a class="dropdown-item display8 my-3 pl-3 accent" href="#">Select format</a>
								<a class="dropdown-item display8 my-3 pl-3" href="#">Format 1</a>
								<a class="dropdown-item display8 my-3 pl-3" href="#">Format 2</a>
								<a class="dropdown-item display8 my-3 pl-3" href="#">Format 3</a>
								<a class="dropdown-item display8 my-3 pl-3" href="#">Format 4</a>
							</div>
						</div>
					</div>

					<p class="display7"><input type="radio" class="mr-3"> Member Price $34.95</p>
					<p class="display7"><input type="radio" class="mr-3"> Non-Member Price $44.95</p>	
				</div>
				<div class="modal-section m-4 p-4">
					<p class="display6 bold">Print</p>
					<p class="display8 secondary">A physical copy (softcover, hardcover or magazine) shipped to your desired shipping location.</p>
					<p class="display7">Quantity <input type="text" value="1" /></p>
					<p class="display7"><input type="radio" class="mr-3"> Member Price $39.955</p>
					<p class="display7"><input type="radio" class="mr-3"> Non-Member Price $49.95</p>	
				</div>
			</div>

	      	<div class="modal-footer">
	        	<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
	        	Total Quantity: 1
	        	$39.95
	        	<button type="button" class="btn btn-primary">Buy Now</button>

	      	</div>
	      


    	</div>

	</div>
</div>
