<div class="modal fade" id="MM4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header py-3">
				<div class="container">
					<div class="row">
						<div class="col-md-11 offset-md-1 d-flex justify-content-between">
        					<p class="display5 bold m-0">Display 5 title<br />two line maximum</p>
       						<button type="button" class="close black" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true" class="display3">&times;</span>
        					</button>
        				</div>
        			</div>
        		</div>
     		</div>

			<div class="modal-body py-4">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<h2 class="display6">Lorem ipsum dolor sit amet</h2>
							<p class="display8">Consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
	        	<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
	        	<img class="d-inline-block mx-3" src="{{ cards.shareImg }}" alt="Share Icon">
   			    <img class="d-inline-block mx-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
	        	<button type="button" class="btn btn-primary">Optional CTA</button>
	      	</div>

    	</div>
	</div>
</div>
