
<div class="list-card py-4 my-0 w-100">
  <div class="row">
    <div class="col-2 col-md-1 my-0 pt-1">
      <img src="{{ cards.pubCardImg }}" alt="Card Image" class="py-0 px-2 card-img-right">
    </div>
    <div class="col-10 col-md-8">
      <div class="card-block m-0 ml-md-3 p-0 pl-2 pl-sm-0"">        
        <h3 class="card-title m-0 py-0 display8 bold">{{ cards.pubTitle }}</h3>
        <p class="display9 secondary mt-1 p-0">{{ cards.pubCat }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 hidden-md-up">&nbsp;</div>
    <div class="col-8 col-md-2 gen-list-item-icons d-inline-flex align-items-center ml-3 my-md-0 p-0">
      <img class="mr-5 ml-2" src="{{ cards.shareImg }}" alt="Share Icon">
      <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
    </div>
  </div>
</div>

