
<div class="list-card-latest-news py-3 my-0 w-100">
  <div class="row">
    
    <div class="col-2 col-md-3 offset-lg-1 mt-1 mt-md-0">
      <img src="{{ cards.generalCardImg }}" alt="General Image" class="card-img-right">
    </div>

    <div class="col-10 col-md-6 col-lg-5 d-flex align-items-center">
      <div class="card-block m-0 p-0 ml-3 ml-md-0"> 
        <p class="display9 secondary my-0 hidden-sm-down">{{ cards.generalCardCat }} - {{ cards.generalCardPostAge }}</p>       
        <a href="#"><h3 class="card-title display7 d7-truncate3 bold mt-0 mt-md-2 mb-0">{{ cards.generalCardTitle }}</h3></a>
        <p class="display9 secondary mt-2 mb-0 d9-truncate3">{{ cards.generalLongDesc }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 hidden-md-up">&nbsp</div>
    <div class="col-10 offset-xs-0 col-md-2 offset-md-0 gen-list-item-icons justify-content-end d-inline-flex align-items-center pt-3 pb-0 mb-0 mx-0 py-0 pl-4 my-auto">
      <p class="display9 secondary my-0 mr-auto hidden-md-up">{{ cards.generalCardCat }} - {{ cards.generalCardPostAge }}</p>     
      <img src="{{ cards.shareImg }}" alt="Share Icon">
      <img class="ml-5" src="{{ cards.saveImg }}" alt="Favorite Icon">
    </div>
  </div>
</div>
