
<div class="list-card-latest-news py-4 my-0 w-100">
  <div class="row">
    <div class="col-md-3 my-0 pt-1">

      <!-- Thumbnail Image Version, if there IS an available image --> 
      <img src="{{ cards.generalCardImg }}" alt="General Image" class="p-0 img-fluid">
    
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div class="card-block m-0 ml-md-3 p-0 pl-2 pl-sm-0 pl-md-3"> 
        <p class="display9 secondary mt-4 mt-md-0 p-0">{{ cards.generalEyebrow }}</p>       
        <a href="#"><h3 class="card-title mt-0 mt-md-0 mb-0 ml-0 mx-0 py-0 display8 bold">{{ cards.generalCardTitle }}</h3></a>
        <p class="display9 secondary mt-1 p-0">{{ cards.generalCardCat }} - {{ cards.generalCardPostAge }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 hidden-md-up">&nbsp;</div>
    <div class="col-8 col-md-2 gen-list-item-icons justify-content-start justify-content-md-end d-inline-flex align-items-center ml-3 my-md-0 p-0">
      <img class="mr-5 ml-2 ml-sm-0" src="{{ cards.shareImg }}" alt="Share Icon">
      <img class="mr-3 mr-md-0" src="{{ cards.saveImg }}" alt="Favorite Icon">
    </div>
  </div>
</div>
