<!-- Search and Results Overlay -->
<div id="search-module" class="search-module" >
  <div id="input-container" class="search-module__input-container d-flex align-items-center" >
    <div class="container">
      <button class="close-btn" >
        <svg class="close" viewBox="0 0 21.3 19.5">
          <g>
            <path d="M17.8,3.7L4.6,16.9c-0.3,0.3-0.8,0.3-1.1,0c-0.3-0.3-0.3-0.8,0-1.1L16.7,2.6c0.3-0.3,0.8-0.3,1.1,0C18.1,2.9,18.1,3.4,17.8,3.7z"></path>
            <path d="M16.7,16.9L3.5,3.7c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l13.2,13.2c0.3,0.3,0.3,0.8,0,1.1C17.5,17.2,17,17.2,16.7,16.9z"></path>
          </g>
        </svg>
      </button>
      <div id="search-input" class="search-input" data-reactid="13">
        <span class="search-input__highlight display5" id="highlight"></span>
        <form class="search-form search-input__form" _lpchecked="1">
          <input type="text" placeholder="Search" class="search-input__input hidden-md-up display5" maxlength="40" >
          <input type="text" placeholder="Search people, events, articles & more" id="search-module-input" class="search-input__input hidden-sm-down display5" maxlength="40" >
          <label for="search-module-input" class="sr-only" >Search query</label>
          <button class="search-input__all hidden-xl-down" >
            <a class="search-input__all-link" href="/search/?query=" >All Results</a>
            <svg class="search-input__all-svg" >
              <g data-reactid="21">
                <line x1="0" y1="0" x2="6" y2="6" class="search-input__all-svg-line" ></line>
                <line x1="0" y1="12" x2="6" y2="6" class="search-input__all-svg-line" ></line>
              </g>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div id="search-module-results" class="search-module__results hidden-xl-down"></div>
</div>

<nav class="navbar navbar-toggleable-sm navbar-light bg-white p-0 " role="navigation">
  
    <!-- Mobile Buttons --> 
    <div class="d-flex justify-content-between align-items-center mobile-buttons hidden-md-up">
      <div class="button-group d-flex align-items-center m-0 p-0">
        <a href="#" class="hidden-md-up" routerLink="../">
          <span class="d-inline-block my-auto ml-3 mr-3">
            <img src="{{ imagePath }}images/back-arrow.svg" class="d-block my-auto">
          </span>
        </a>
        <span class="nav-divider d-inline-block hidden-md-up">&nbsp;</span>
        <button class="navbar-toggler border-0 my-auto" type="button" data-toggle="collapse" data-target="#menus" aria-controls="menus" aria-expanded="false"
          aria-label="Toggle navigation" >
           <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <a class="navbar-brand button-group my-2 hidden-md-up" href="#" routerLink="/">
        <div class="icsc-logo my-auto mr- ml-4">&nbsp;</div>
      </a>
      <a href="#" class="mobile-search-icon search-trigger button-group hidden-md-up d-flex justify-content-end">
        <img src="{{ imagePath }}images/magnifying-glass.svg" alt="Search Icon" class="d-block my-auto mr-3 search-icon">
      </a>
    </div>
    <!-- End Mobile Buttons --> 


    <!-- Menus -->
    <div class="container header-menus mb-1">
      <a class="navbar-brand hidden-sm-down m-0 p-0" href="#" routerLink="/">
        <div class="icsc-logo">&nbsp;</div>
      </a>   


      <div class="collapse navbar-collapse flex-sm-column-reverse" id="menus">
        

        <!-- Main Mobile Menu --> 
        <div class="mainMenu hidden-md-up mt-1 mx-3">
          <ul class="navbar-nav">
            {{#header.mainLinks }}
              <li class="nav-item dropdown m-0 p-0">
                <a aria-expanded="false" class="nav-link display8 my-3 p-0 " data-toggle="dropdown" href="#" >{{{ navLink }}}</a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right border-right-0 border-left-0 m-0 p-0">
                  {{# subLinks }}
                    <a class="dropdown-item display8 m-0 my-3 pl-3 accent" href="#" {{{ route }}} >{{ name }}</a>
                  {{/ subLinks }}
                </div>
              </li>
            {{/header.mainLinks }}
            <li class="nav-item ml-md-4 ml-lg-5 hidden-sm-down">
              <a class="nav-link search-trigger display8 p-0" href="#">
                <img src="{{ imagePath }}images/magnifying-glass.svg" class="search-icon">
              </a>
            </li>
          </ul>
        </div>


        <!-- Main Desktop Menu --> 
        <div class="mainMenu mt-md-4 mb-md-0 d-flex justify-content-md-end hidden-sm-down">
          <ul class="navbar-nav">
            {{#header.mainLinks }}
              <li class="nav-item dropdown m-0 p-0 ml-md-3 ml-lg-5">
                <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-toggle="collapse" href="#" data-target="#megaMenu" aria-expanded="false" aria-controls="megaMenu" >{{{ navLink }}}</a>
              </li>
            {{/header.mainLinks }}
            <li class="nav-item ml-md-4 ml-lg-5 hidden-sm-down">
              <a class="nav-link search-trigger display8 p-0" href="#">
                <img src="{{ imagePath }}images/magnifying-glass.svg" class="search-icon">
              </a>
            </li>
          </ul>
        </div>


        <div class="dropdown-divider hidden-md-up w-100 m-0 p-0"></div>


        <!-- Top Menu --> 
        <div class="topMenu d-flex justify-content-md-end mx-3 mx-md-0 mt-md-3">
          <ul class="navbar-nav ">
            <li class="nav-item mr-md-4">
              <a class="nav-link login-link my-3 my-md-0 p-0 d-flex flex-md-row-reverse">
                <span class="secondary d-inline-block mr-3 mr-md-0 my-auto" routerLink="/login" >My ICSC</span>
                <img src="{{ imagePath }}images/member@2x.png" alt="{{ userName }}" class="avatar mr-3">
              </a>
            </li>
            <li class="nav-item mr-md-4 d-inline-block my-md-auto">
              <a class="nav-link secondary my-3 my-md-0 p-0" href="#" routerLink="/contact-us" >Contact Us</a>
            </li>
            <li class="nav-item mr-md-4 d-inline-block my-md-auto">
              <a class="nav-link secondary my-3 my-md-0 p-0" href="#" routerLink="/media" >Media</a>
            </li>
            <li class="nav-item locations dropdown d-inline-block my-md-auto">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link secondary my-3 my-md-0 p-0" data-toggle="dropdown" href="#" routerLink="/" >NY, USA</a>
              <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right m-0 px-2">
                <a class="dropdown-item my-3 pl-3 text-right accent" href="#" routerLink="/">NY, USA</a>
                <a class="dropdown-item my-3 pl-3 text-right" href="#" routerLink="/">London, UK</a>
                <a class="dropdown-item my-3 pl-3 text-right" href="#" routerLink="/">Tokyo, JP</a>
              </div>
            </li>
          </ul>
        </div>
      </div> 
      <!-- End Collapsible --> 
  
  </div>
  <!-- End Menus -->


</nav>
<!-- End Nav, Obviously -->


<!-- Mega Menu --> 
<div class="container-fluid collapse bg-gray-lightest megaMenu" id="megaMenu">
  <div class="container py-5">
    <div class="row">
      <div class="col-3">
        <a class="display8 bold accent" href="#" >Location</a>
        <p class="display8 text-primary">Learn who we are and how we serve our community</p>
      </div>
      <div class="col-3">
        <a class="display8 bold accent" href="#" >Leadership</a>
        <p class="display8 text-primary">Meet our leaders, trustees and team</p>
      </div>
      <div class="col-3">
        <a class="display8 bold accent" href="#" >ICSC Foundation</a>
        <p class="display8 text-primary">Learn who we are and how we serve our community</p>
      </div>
      <div class="col-sm-3 pl-3 related">
        <a class="display8 d-block bold accent" href="#">Community Development</a>
        <a class="display8 d-block bold accent" href="#">Awards &amp; Recognition</a>
        <a class="display8 d-block bold accent" href="#">Volunteer</a>
      </div>
    </div>
  </div>
</div>



  
