
<div class="jumbotron jumbotron-fluid simple-hero m-0 pt-7 pb-7">
  <div class="container">
    <h1 class="text-center light">{{ title }}</h1>
    <p class="text-center lead light">{{ desc }}</p>
  </div>
</div>
