<div class="jumbotron jumbotron-fluid simple-hero m-0 ">
  <div class="container">
    <h1 class="text-center light">Page Title</h1>
    <p class="text-center lead light">Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
  </div>
</div>

