
select.form-control:not([size]):not([multiple]) {
	height: 56px !important;
}

input::-ms-clear { //removes X in search bar on focus IE
    display: none;
}

input[name="fromDate"].form-control, input[name="toDate"].form-control { //fixes IE date
		height: 50px !important;
	    padding: 16px 20px !important;	    
}

label.custom-control { //fixes IE flexbox spacing issue on dropdown checkboxes
	height: 24px;
}
button.close {
	bottom: 11px !important;
}

.parsley-error {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23d9534f\' viewBox=\'-2 -2 7 7\'%3E%3Cpath stroke=\'%23d9534f\' d=\'M0 0l3 3m0-3L0 3\'/%3E%3Ccircle r=\'.5\'/%3E%3Ccircle cx=\'3\' r=\'.5\'/%3E%3Ccircle cy=\'3\' r=\'.5\'/%3E%3Ccircle cx=\'3\' cy=\'3\' r=\'.5\'/%3E%3C/svg%3E") !important;
	background-position: right 0.5625rem center !important;
	background-repeat: no-repeat !important;
	background-size: 1.125rem 1.125rem !important;
	border-color: #e31837 !important;
}

.parsley-errors-list, .parsley-errors-list li {
	list-style: none !important;
	color: #e31837 !important;
	padding: 0 !important;
	margin: 0.25rem 0 0 !important;
}

.error-message-list{
	margin-top:-10px !important;
}

.required-indicator {
	color:#e31837;
}

@media only screen and (max-device-width : 459px) {
	.form-inline{
		.button{
			width:100% !important;
		}
	}
}