
select.form-control:not([size]):not([multiple]) {
	height: 56px !important;
}

input::-ms-clear { //removes X in search bar on focus IE
    display: none;
}

input[name="fromDate"].form-control, input[name="toDate"].form-control { //fixes IE date
		height: 50px !important;
	    padding: 16px 20px !important;	    
}

label.custom-control { //fixes IE flexbox spacing issue on dropdown checkboxes
	height: 24px;
}
button.close {
	bottom: 11px !important;
}

.error-message-list{
	margin-top:-10px !important;
}

@media only screen and (max-device-width : 459px) {
	.form-inline{
		.btn{
			width:100% !important;
		}
	}
}