
.featured-events {
	.text-right {
		min-width: 100px;
	}
	@include media-breakpoint-up(sm) {

		.view-all {
			&:after {
				content: '';
				display: inline-block;
				background: url('/assets/images/view-all-arrow.svg') no-repeat;
				width: 21px;
				height: 15.8px;
				margin-left: 10px;
			}
		}
	}
}
