// Custom Mixins

@mixin debug {
  &, * {
    background: rgba(0, 0, 0, .1);
  }
}

// Truncate text after 3 lines
@mixin limitLines($lines, $lineHeight) {
  /* Limits text to $lines lines, adds ellipses in webkit browsers */
  overflow: hidden;
//  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $lineHeight;
  max-height: $lineHeight*$lines;
}
