
<div class="card member-card-list w-100">
  <div class="row">
    <div class="col-4 col-md-3 d-flex justify-content-center align-items-center">
      <img class="member-card-img" src="{{ memberCardImg }}" alt="{{ memberName }}">
    </div>
    <div class="col-6 col-md-4 m-0">
      <div class="card-block my-4 p-0">
        <h3 class="card-title display5"><strong>{{ memberName }}</strong></h3>
        <p class="display7 secondary mt-1 mb-0">{{ memberTitle }}</p>
        <p class="display7 accent mt-0 mb-0">{{ memberCompany }}</p>
      </div>
    </div>
    <div class="col-1 hidden-sm-down">&nbsp;</div>
    <div class="col-2 my-4 p-0 hidden-sm-down">
      <p class="display7 secondary mt-1 mb-0">{{ memberLocale }}</p>
      <p class="display7 secondary m-0">{{ memberCountry }}</p>
    </div>
  </div>
  <div class="art-list-item-icons hidden-sm-down">
    <img class="mr-5" src="{{ shareImg }}" alt="Share Icon">
    <img class="mr-3" src="{{ saveImg }}" alt="Favorite Icon">
  </div>
</div>
