
<div class="col-md-4 member-card">
  <div class="card">
    <img class="member-card-img mt-4 mx-auto" src="{{ memberCardImg }}" alt="{{ memberName }}">
    <div class="card-block">
      <h3 class="card-title mt-3 display5 text-center">{{ memberName }}</h3>
      <p class="display7 secondary mt-3 mb-0 text-center">{{ memberTitle }}</p>
      <p class="display7 secondary mt-2 text-center">{{ memberCompany }}</p>
      <p class="display7 secondary mt-4 text-center">{{ memberLocale }}</p>
    </div>
    <div class="card-icons mt-3 mt-md-5 p-3 w-100 d-flex justify-content-end">
      <img class="mr-5" src="{{ shareImg }}" alt="Share Icon">
      <img class="mr-3" src="{{ saveImg }}" alt="Favorite Icon">
    </div>
  </div>
</div>