<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F7F7F7;"></span>
		<span class="sg-label">
            $icsc-bg-1 <br />
            #F7F7F7
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F9F9F9;"></span>
		<span class="sg-label">
			$icsc-bg-2 <br />
			#F9F9F9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EDEDED;"></span>
		<span class="sg-label">
			$icsc-bg-3 <br />
			#EDEDED
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7F7FB;"></span>
		<span class="sg-label">
			$icsc-bg-4 <br />
			#F7F7FB
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4A4A4A;"></span>
		<span class="sg-label">
			$icsc-bg-5 <br />
			#4A4A4A
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #343434;"></span>
		<span class="sg-label">
			$icsc-bg-6 <br />
			#343434
		</span>
	</li>
</ul>