<div class="container">
  <div class="row">
    <div class="col">
			<ul class="sg-colors">
					<li>
					<span class="sg-swatch" style="background: #FC2B2B;"></span>
					<span class="sg-label">
						$red<br />
						#FC2B2B
					</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #000;"></span>
					<span class="sg-label">
						$black<br />
						#000
					</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #FFF;"></span>
					<span class="sg-label">
						$white<br />
						#FFF
					</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #E31837;"></span>
					<span class="sg-label">
						$original-red<br />
						#E31837
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

