
<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{ articleCardImg }}" alt="{{ articleThumb }}">
    <div class="card-block col-10 pt-0 pb-0">
      <p class="display7 secondary mt-4">{{ articleCardCat }}</p>
      <h3 class="card-title mt-2">{{ articleCardTitle }}</h3>
    </div>
    <div class="card-icons m-0 mt-6 p-3 w-100 d-flex justify-content-end">
      <img class="mr-5" src="{{ shareImg }}" alt="Share Icon">
      <img class="mr-3" src="{{ saveImg }}" alt="Favorite Icon">
    </div>
  </div>
</div>
