
<div class="card">
  <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}">
  <div class="card-block py-0">
    <a href="#" class="profile-link"><h3 class="card-title mt-4 mt-lg-5 mb-0 display6 bold text-center">{{ cards.memberName }}</h3></a>
    <p class="display8 secondary mt-2 mb-0 text-center" style="height: 52px; overflow: hidden;">{{ cards.memberTitle }}
    , {{ cards.memberLocale }}</p>
    <p class="display8 secondary mt-3 mb-0 text-center accent">{{ cards.memberCompany }}</p>
  </div>
  <div class="card-icons mt-3 p-3 w-100 d-flex justify-content-end">
    <img class="mr-5" src="{{ cards.shareImg }}" alt="Share Icon">
    <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
  </div>
</div>
