
<div class="card">
  <img class="publication-card-img mt-4 mx-auto" src="{{ cards.pubCardImg }}" alt="{{ cards.pubCardAlt }}">
  <div class="card-block">
    <h3 class="card-title mt-3 display5"><strong>{{ cards.pubTitle }}</strong></h3>
    <p class="display7 secondary mt-3 mb-0">{{ cards.pubCat }}</p>
  </div>
  <div class="card-icons mt-3 mt-md-5 p-3 w-100 d-flex justify-content-end">
    <img class="mr-5" src="{{ cards.shareImg }}" alt="Share Icon">
    <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
  </div>
</div>

