
<div class="card w-100">
  <div class="row">
    <div class="col-4 col-md-3 pl-4 pr-0 py-3 w-75">
      <img src="{{ cards.articleCardImg }}" alt="{{ cards.articleThumb }}" class="w-100 h-100 p-0 card-img-right">
    </div>
    <div class="col-8 col-md-4 pt-md-3 pl-md-5">
      <div class="card-block pl-0 pt-3">
        <p class="display7 secondary">{{ cards.articleCardCat }}</p>
        <h3 class="card-title mt-1 display6"><strong>{{ cards.articleCardTitle }}</strong></h3>
      </div>
    </div>
  </div>
  <div class="art-list-item-icons hidden-sm-down">
    <img class="mr-5" src="{{ cards.shareImg }}" alt="Share Icon">
    <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
  </div>
</div>
