
<nav aria-label="Page Navigation">
  <ul class="pagination justify-content-center m-0 pt-4 pb-5">
     <li class="page-item"><a class="page-link h-100" href="#" aria-label="Previous"><img src="{{ pagination.back }}"  aria-hidden="true" class="disabled" ></a></li>
    <li class="page-item"><a class="page-link h-100" href="#" aria-label="Previous"><img src="{{ pagination.back }}"  aria-hidden="true" class="disabled" ></a></li>
    <li class="page-item"><a class="page-link h-100 display8 secondary active" href="#">1</a></li>
    <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">2</a></li>
    <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">3</a></li>
    <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">4</a></li>
    <li class="page-item"><a class="page-link h-100 display8 secondary" href="#">5</a></li>
    <li class="page-item"><a class="page-link h-100" href="#" aria-label="Next" ><img src="{{ pagination.forward }}" aria-hidden="true"></a></li>
    <li class="page-item"><a class="page-link h-100" href="#" aria-label="Next" ><img src="{{ pagination.forward }}" aria-hidden="true"></a></li>
  </ul>
</nav>
