
  <div class="card">
    <div class="card-block pt-0 pb-0">
      <h3 class="card-title mt-4 mt-xl-6 mb-0 mr-lg-3 text-primary display6 bold">{{ cards.eventTitle }}</h3>
      <p class="display8 text-primary secondary mt-3 mb-0">{{ cards.eventDate }}</p>
      <p class="display8 text-primary secondary mt-3 mb-0">{{ cards.eventLocale }}</p>
      <p class="display8 text-primary secondary">{{ cards.eventCity }}</p>
    </div>
    <div class="card-icons m-0 mt-3 mt-md-3 mt-xl-5 p-3 w-100 d-flex justify-content-end">
      <img class="mr-5" src="{{ cards.shareImg }}" alt="Share Icon">
      <img class="mr-3" src="{{ cards.saveImg }}" alt="Favorite Icon">
    </div>
  </div>
  