
// Fades
.fade-in {
  opacity: 0;
  animation: fadeIn .7s ease-in 1.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Sliding Underline
.sliding-u-l-r {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;    
    width: 0px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 25px;
}
.sliding-u-l-r:hover {
    border-bottom: 3px solid $primary1;
    width: 125px;
}






$animation-duration: 750ms;
$animation-delay: 150ms;

.slide-up {
  animation: slide-fade $animation-duration ease-in backwards;
  // animation: slide $animation-duration linear backwards;
  // animation: slide-reveal $animation-duration linear backwards;
    // animation: fade $animation-duration linear backwards;
  // animation: reveal $animation-duration cubic-bezier(.8,0,1,1) backwards;
  // animation: shrink $animation-duration cubic-bezier(.8,0,1,1) forwards;

  &.delay-1 { 
    animation-delay: $animation-delay;
  }
  &.delay-2 {
    animation-delay: (2 * $animation-delay);
  }
  &.delay-3 {
    animation-delay: (3 * $animation-delay);
  }
}


@keyframes slide-fade {
  0% {
    opacity: 0;
     transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
