.accordion-narrow {
    .card {
        height: auto !important;
        box-shadow: none !important;
        transform: none !important;
        border: none;
        border-bottom: 2px solid $tertiary4;
        .card-header {
            background: none;
            border: none;
            a {
                &:before {
                    content: '-';
                    position: absolute;
                    left: 20px;
                }
                &.collapsed {
                    &:before {
                        content: '+';
                    }
                }
            }
        }
    }
}
