
.left-nav {
	.back {
		&:before {
			content: '';
			display: inline-block;
			background: url('../../images/back-to-home.svg') no-repeat;
			width: 24px;
			height: 16px;
			vertical-align: bottom;
			margin-right: 4px;
		}
		&:hover { 
			&:after {
				background: url('../../images/back-to-home-dark.svg') no-repeat;
			}
		}
	}

	ul {
		li {
			 &:after {
			    content: '';
			    display: block;
			    width: 100%;
			    border-bottom: 1px solid $tertiary4;
			    margin: 1rem 0;
			} 
		}
	}
}

.left-nav-mobile {
	position: absolute;
	bottom: 0;
	left: 15px;
}

.sub-nav-link {
	&:after {
			content: "";
			display: block;
			background: url('../../images/up-arrow.svg') no-repeat;
			width: 10px;
			height: 6px;
			float: right;
			margin: auto -14px auto auto;
			transition: all 0.2s ease-in-out;
		}
	&.collapsed {
		&:after {
			background: url('../../images/down-arrow.svg') no-repeat;
		}
	}
	&.show {
		&:after {
			background: url('../../images/down-arrow.svg') no-repeat;
		}
	}
}
