
.left-nav {
	.back {
		&:before {
			content: '';
			display: inline-block;
			background: url('../../images/back-to-home.svg') no-repeat;
			width: 24px;
			height: 16px;
			vertical-align: bottom;
			margin-right: 4px;
		}
	}
}
