
.filter-panel {
	.btn {
		padding: .75rem 0;
	}
}

.primary-panel {
 	&.collapsing, &.show {
		border-top: 1px solid $primary3;
		border-bottom: 1px solid $primary3;
	}	
}

.facet-group {
	font-weight: bold;
	&:hover, &:focus {
		color: darken($primary3, 10%);
	}
	&:not(first-of-type) {
		margin-top: 10px;
	}

	&.collapsed {
		transition: $transition-base;
		&:before {
			content: '+';
		}
	}
	&:before {
		content: '-';
		display: inline-block;
		width: 11px;
		height: 8px;
		transition: $transition-base;
	}
}

.facetLink {
	cursor: pointer;
	&.collapsed {
		transition: $transition-base;
		.facet:after {
			transition: $transition-base;
			background: url('../../images/down-arrow-white.svg') no-repeat;
		}
	}
}

.facet {
	color: $primary3;
	margin-left: 15px;
	&.parent {
		cursor: pointer;
	}
	@include media-breakpoint-up(lg) {
		margin-left: 0;
	}
	&:after {
		content: '';
		display: inline-block;
		background: url('../../images/up-arrow-white.svg') no-repeat;
		width: 11px;
		height: 8px;
		margin-left: 32px;
		transition: $transition-base;	
		@include media-breakpoint-down(sm) {
			margin-left: 8px;
		}

	}
}

.facetNoPanel {
	margin-left: 15px;
	@include media-breakpoint-up(lg) {
		margin-left: 0;
	}
}

.facetPanel {
	background-color: $tertiary7;
	border: 0;
}

.fac-check {
	margin-left: 16px;
}

.filter-card {
	border-radius: 2px;
	margin-top: 4px;
	height:48px;
	min-height: 48px;
	.clear {
		cursor: pointer;
		&:hover { 
			opacity: .7;
		}
	}
}

.filter-card:not(first)

.flt-card-copy {
	width: 90%;
}

.custom-control-indicator {
	top: .7rem;
  border: 1px solid $primary3;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator {
	background: linear-gradient(to right bottom, transparent 50%, $primary3 50%);
}

.filter-input {
	height: 30px;
	background-color: $tertiary6;
	color: $primary3;
	border: 1px solid $primary3;
	&:focus {
		background-color: $tertiary6;
		color: $primary3;
	}
	&::-webkit-input-placeholder {
		color: $primary3;
	}
	&::-moz-placeholder {
		color: $primary3;
	}
	&:-ms-input-placeholder {
		color: $primary3;
	}
	&:-moz-placeholder {
		color: $primary3;
	}
}

@include media-breakpoint-up(sm) {
	::-webkit-inner-spin-button {
	    margin-right: 6px;
	}
	::-webkit-clear-button {
	    margin-right: 6px;
	}
}

// Override NG_Datepicker btn-secondary style
.ngb-dp-day {
	.btn-secondary {
		color: #292b2c;
	}
}
	
