
.filter-panel {
	.btn {
		padding: .75rem 0;
	}
}

.primary-panel {
 	&.collapsing, &.show {
		border-top: 1px solid $primary3;
		border-bottom: 1px solid $primary3;
	}	
}

.facet {
	font-weight: bold;
	&:hover, &:focus {
		color: darken($primary3, 10%);
	}
	&:not(first-of-type) {
		margin-top: 10px;
	}
}

.subFacetLink {
	cursor: pointer;
	&.collapsed {
		transition: $transition-base;
		.subFacet:after {
			transition: $transition-base;
			transform: rotate(-180deg);
		}
	}
}

.subFacet {
	color: $primary3;
	margin-left: 15px;
	&.parent {
		cursor: pointer;
	}
	@include media-breakpoint-up(lg) {
		margin-left: 0;
	}
	&:after {
		content: '';
		display: inline-block;
		background: url('../../images/down-arrow-white.svg') no-repeat;
		width: 11px;
		height: 8px;
		margin-left: 32px;
		transition: $transition-base;
	}
}

.subFacetPanel {
	background-color: $tertiary7;
	border: 0;
}

.sub-fac-check {
	margin-left: 24px;
	@include media-breakpoint-up(md) {
		margin-left: 17px;
	}
}

.filter-card {
	border-radius: 2px;
	margin-top: 4px;
	.clear {
		cursor: pointer;
		&:hover { 
			opacity: .7;
		}
	}
}

.filter-card:not(first)

.flt-card-copy {
	width: 90%;
}

.custom-control-indicator {
	top: .7rem;
  border: 1px solid $primary3;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator {
	background: linear-gradient(to right bottom, transparent 50%, $primary3 50%);
}
