.standard-text-wrapper {

  h6 {
    @extend .display7;
    padding: 0;
    margin: 2rem 0;
  }

  h2 {
    @extend .display6;
    font-weight: 900 !important;
    padding: 0;
    margin: 0 0 0.25rem;
  }

  p {
    @extend .display8;
    @extend .secondary;
	padding: 0;
    margin: 2rem 0;
    
    a {
      @extend .accent;
      opacity: 1 !important;
    }

  } 

  ul {
  	li {
  		@extend .display8;
   		@extend .secondary;
	    margin: 0 0 1rem;
  	}
  }
}