
.card {
	margin-bottom: 2rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	height: 350px;
	transition: 0.3s;
	@include media-breakpoint-up(sm) {
		height: 360px;
	}
	@include media-breakpoint-up(lg) {
		height: 420px;
	}
	@include media-breakpoint-up(xl) {
		height: 430px;
	}
	&:hover {
		box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
		transform: translateY(-4px);
	}
}

.member-default {
	background-color: $tertiary3;
	.letters {
		color: #BCBFC0;
	}
}

.list-card {
	margin-bottom: 2rem;
	border-top: 1px solid $tertiary3;
	position: relative;
}

.list-card-module {
	border-bottom: 1px solid $tertiary3;
}

.list-card-latest-news {
	margin-bottom: 2rem;
	position: relative;
	[class*='col-'] {
		border-top: 1px solid $tertiary3;
	}
	.card-img-right {
		object-fit: cover;
		height: 56px;
		width: 56x;
		@include media-breakpoint-up(sm) {
			height: 80px;
			width: 80px;
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			height: 90px;
		}
		@include media-breakpoint-up(lg) {
			height: 120px;
		}
		&.download {
			object-fit: initial;
		}
	}
	.gen-list-item-icons {
		@include media-breakpoint-up(md) {
			bottom: 10px;
		}
	}
	.border {
		border-top: 1px solid $tertiary3;
	}
}

.card-img-right {
	object-fit: cover;
	height: 56px;
	width: 56px;
	@include media-breakpoint-up(sm) {
		height: 64px;
		width: 64px;
	}
	&.download {
		object-fit: initial;
	}
	&.square {
		border-radius: 0;
	}
}

.profile-img-list {
	border-radius: 36px;
}

.card-icons {
	border-top: 1px solid $gray-border;
	position: absolute;
	bottom: 0;
	img {
		cursor: pointer;
		&:hover {
			opacity: .7;
		}
	}
	&.relative {
		position: relative;
	}
}

.card-link {
	color: $primary2;
}


// General Card

.card-img-top {
	height: 120px;
	object-fit: cover;
	@include media-breakpoint-only(md) {
		height: 124px;
	}
	@include media-breakpoint-up(lg) {
		height: 140px;
	}
}

.gen-list-item-icons {
	position: relative;
	@include media-breakpoint-up(md) {
		position: absolute;
		right: 1.25rem;
		bottom: 0;
		top: 0;
		img {
			cursor: pointer;
			&:hover {
				opacity: .7;
			}
		}
	}
}

.no-image {
	.no-image-icon {
		width: 90px;
		height: 96px;
		object-fit: none;
		margin-top: 24px;
		@include media-breakpoint-only(md) {
			margin-top: 28px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 44px;
		}
	}
}


// Event Cards

.event-card {
	border-top: 6px solid $primary1;
}

.event-card-list {
	border-left: 6px solid $primary1;
}

@include media-breakpoint-down(sm) {
	.event-card:not(:first-of-type) {
		margin-top: 2rem;
	}
}


// Member Cards

.member-card-img {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	@include media-breakpoint-up(xl) {
		border-radius: 100%;
		height: 104px;
		width: 104px;
	}
}

.profile-name-link {
	color: $primary2;
	&:hover {
		color: $link-hover-color;
	}
}


// Publication Cards

.publication-card-img {
	height: 78px;
	width: 60px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
	object-fit: cover;
	@include media-breakpoint-only(md) {
		height: 92px;
		width: 70px;
	}
	@include media-breakpoint-up(lg) {
		height: 132px;
		width: 104px;
	}
}
