
.card:not(:first-of-type) {
  margin-top: 2rem;
}

.card-img-top {
  height: 145px;
  object-fit: cover;
}

.card-img-right {
  object-fit: cover;
}

.card-icons {
  border-top: 1px solid $gray-border;
  img {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.art-list-item-icons {
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
  img {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.event-card {
  border-top: 6px solid $primary1;
}

.event-card-list {
  border-left: 6px solid $primary1;
}

.member-card-img {
  height: 70px;
  width: 70px;
  @include media-breakpoint-up(md) {
    height: 100px;
    width: 100px;
  }
}

.publication-card-img {
  height: 120px;
  width: 90pxpx;
  object-fit: cover;
  @include media-breakpoint-up(md) {
    height: 120px;
    width: 90px;
  }
}
