
// .card:not(:first-of-type) {
//   margin-top: 2rem;
// }

// #cards .row:not(:first-of-type) {
//   margin-top: 2rem;
// } 

.card {
  margin-bottom: 2rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}


.card-img-top {
  height: 120px;
  object-fit: cover;
  @include media-breakpoint-only(md) {
    height: 133px;
  }
  @include media-breakpoint-up(lg) {
    height: 148px;
  }
}

.card-img-right {
  object-fit: cover;
}

.card-icons {
  border-top: 1px solid $gray-border;
  img {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.card-link {
  color: $primary2;
}

// 


.gen-list-item-icons {
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
  img {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}


// Event Cards
.event-card {
  border-top: 6px solid $primary1;
}

.event-card-list {
  border-left: 6px solid $primary1;
}

@include media-breakpoint-down(sm) {
  .event-card:not(:first-of-type) {
    margin-top: 2rem;
  }
}


// Member Cards
.member-card-img {
  height: 80px;
  width: 80px;
  @include media-breakpoint-up(lg) {
    height: 104px;
    width: 104px;
  }
}

.profile-link {
  color: $primary2 !important;
}


// Publication Cards
.publication-card-img {
  height: 78px;
  width: 60px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  object-fit: cover;
  @include media-breakpoint-only(md) {
    height: 92px;
    width: 80px;
  }
  @include media-breakpoint-up(lg) {
    height: 132px;
    width: 104px;
  }
}
