
//when adding new custom classes do not forget to update this map
$all-colors: (
	red: $primary1,
	white: $primary3,
	gray-dark: $gray-dark,
	gray: $gray,
	gray-light: $gray-light,
	gray-lighter: $gray-lighter,
	gray-lightest: $gray-lightest,
	gray-ultra-light: $gray-ultra-light,
	footer-gray: $footer-gray,
	footer-gray2: $footer-gray2,
	black: $primary2
);

//Include all custom colors in background color classes
@each $color, $value in $all-colors {
	.bg-#{$color} {
		background-color: $value;
	}
}

//Include all custom colors in text color classes
@each $color, $value in $all-colors {
	.text-#{$color} {
		color: $value;
	}
}
