.form-group {
	input[type="email"].form-control,
	input[type="password"].form-control {
		border: 2px solid $tertiary4;
	}
}

select.form-control:not([size]):not([multiple]) {
	height: 56px !important;
}

input::-ms-clear { //removes X in search bar on focus IE
    display: none;
}

input[type="date"].form-control  { //fixes IE date
		height: 50px !important;
	    padding: 16px 20px !important;	    
}

