
// @include debug;

body {
  font-family: $font-family-sans-serif;
}

.active {
  color: $primary1;
}


// Button Override: Required because of hard-coded values in Bootstrap Alpha 6 Button Mixins

.btn-outline-secondary:hover {
  color: $primary1;
  
}


