
// Debug utility that makes grey boxes behind all blocks, for layout debugging
// @include debug;

* {
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Remove tap highlight color - ugly!
  -webkit-tap-highlight-color: transparent; // For some Androids
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; /* the slickest text out there */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-sans-serif;
}


// Links

a {
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 1;
    color: darken($primary1, 10%);
  }
  &.accent {
    &:hover {
      color: darken($primary1, 10%);
    }
  }
}

// Button Overrides: Required because of hard-coded values in Bootstrap Alpha 6 Button Mixins
.btn-outline-secondary:hover {
  color: $primary1;
}

.btn-secondary:hover {
  color: $link-hover-color;
}

.close {
  color: $primary3;
  opacity: 1;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
  text-shadow: none;
  transition: $transition-base;
  &.black {
    color: $primary2;
    font-size: 1.5rem;
  }
}

.btn {
  border-width: 2px;
  font-family: $font-family-sans-serif;
  cursor: pointer;
  &.btn-tertiary {
    color: $btn-tertiary-color;
    background-color: $btn-tertiary-bg;
    border-color: $btn-tertiary-border;
    cursor: pointer;
    width: 100px;
    &:hover {
      background: #cfd6db;
      transition: all 0.2s ease-in-out;
    }
  }
  &.btn-quaternary {
    color: $primary3;
    background-color: $tertiary7;
    border: 1px solid $primary3;
    width: 100px;
    &:hover {
      background: #cfd6db;
      transition: all 0.2s ease-in-out;
      color: $primary2;
    }
  }
  &.search {
    padding: .5rem 0;
    @include media-breakpoint-only(md) {
      padding: 1rem 2rem;
    }
    @include media-breakpoint-only(lg) {
      padding: 1rem 3rem;
    }
    @include media-breakpoint-only(xl) {
      padding: 1rem 4rem;
    }
    border-radius: 5px;
    border: solid 2px #e31837;
  }
}


// Dropdowns

.dropdown-menu {
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.3);
} 


// Kill Bootstrap Gutters - Recommended by BS, only for rows
.no-xs-guts {
  @include media-breakpoint-down(xs) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Carousel Indicators

.carousel-indicators li {
  border-radius: 6px;
}

.share-bar {
  /* border: 1px solid $tertiary5; */

  &.share-bar--small {
    img.share-bar__icon {
       height: 20px;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.phone-link {
  &:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('/images/icon-phone.svg');
    margin-right: 7px;
    vertical-align: middle;
  }
}

.email-link {
  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url('/images/icon-email.svg');
    margin-right: 7px;
    vertical-align: middle;
  }
}

.profile-img {
    width: 136px;

    @include media-breakpoint-down(sm) {
      width: 120px;
    }
}

.profile-img-alt {
    width: 90px;

    @include media-breakpoint-down(sm) {
      width: 78px;
    }
}

.profile-img-standard {
  width: 56px;
  height: 56px;
}


/* Source: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-player {
  position: relative;
  padding-bottom: 54%; /*56.25%; *//* 16:9 */
  padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img-shadow {
  box-shadow: 0 25px 40px 0 rgba(0,0,0,0.50);
}

.border-after {
  &:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid $tertiary4;
    margin: 3rem 0;
  }
}
