
.footer {
	.nav-link {
		opacity: .6;
		color: $primary3 !important;
		&:hover {
			color: $primary3;
			opacity: 1;
		}
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
}

.footer-attributes {
	text-align: center;
	@include media-breakpoint-up(md) {
		text-align: left;
	}
}
