
.collapse {
  background: $white;
}

.navbar-toggler-left {
  left: 85px;
  top: 20px;
}

.navbar-nav {
  text-align: right;
  .nav-link {
    color: $black;
    &.active {
      color: $original-red;
      border-bottom: 6px solid $original-red;
    }
  } 
}

.search-icon {
  margin-top: -4px;
}

.mobile-search-icon {
  position: absolute;
  right: 0;
  top: 25px;
}

.mag-mobile {
  width: 30px;
}

.topMenu {
  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

.icsc-logo {
  width: 70px;
  @include media-breakpoint-up(md) {
    width: 70px;
  }
}
