
.nav {
  background: $primary3;
}

.navbar > .container {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.header-menus {

  .navbar-nav {
    width: 100%;
    margin-right: 17px;
    margin-left: 17px;
    @include media-breakpoint-up(md) {
      width: auto;
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  .nav-link {
    &.active {
      color: $primary1;
      @include media-breakpoint-up(md) {
        border-bottom: 3px solid $primary1;
      }
    }
  }

  .mainMenu .nav-link:first-of-type, .topMenu .nav-link:first-of-type {
    margin-top: 24px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .header-menus .nav-item:not(:first-of-type) .nav-link {
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }

  .nav-item:last-of-type, .signup-list-item {
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .topMenu li {
    font-size: 1rem;
    color: $primary2;
    @include media-breakpoint-up(md) {
      opacity: .6;
      font-size: .75rem;
    }
  }
}

.search-icon {
  margin-top: -4px;
  width: 17px;
}

.icsc-logo {
  width: 32px;
  height: 29px;
  background: url('../../images/icsc-mobile-logo.svg') no-repeat;
  background-size: contain;
  @include media-breakpoint-up(md) {
    height: 72px;
    width: 56px;
    background: url('../../images/ICSC-logo.svg') no-repeat;
    background-size: contain;
  }
}

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.mobile-buttons {
  border-bottom: 2px solid $tertiary3;
  @include media-breakpoint-up(md) {
    box-shadow: none;
  }
}

.nav-divider {
  height: 100%;
  border-left: 2px solid $tertiary3;
}

.button-group {
  width: 70px;
  height: 40px;
  // background: green;
  @include media-breakpoint-up(md) {
    width: auto;
  }
}

.arrow-toggle {
  height: 6px;
  width: 5px;
  background: url('../../images/down-arrow.svg') no-repeat;
}

