.collapse {
  background: $primary3;
}

.navbar {
  @include media-breakpoint-up(md) {
    // box-shadow: 0 8px 6px -6px rgba(160, 160, 160, 0.67);
  }
}


.header-menus .nav-link {
  &.active {
    color: $primary1;
    border-bottom: 4px solid $primary1;
    @include media-breakpoint-down(sm) {
      border-bottom: 3px solid $primary1;
    }
  }
}

.header-menus .nav-item .nav-link {
  margin-top: 24px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header-menus .nav-item:not(:first-of-type) .nav-link {
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }
}

.search-icon {
  margin-top: -4px;
  width: 17px;
}

.topMenu li {
  font-size: 16px;
  color: $primary2;
  @include media-breakpoint-up(md) {
    opacity: .6;
  }
}

.icsc-logo {
  width: 32px;
  height: 29px;
  background: url('../../images/icsc-mobile-logo.svg') no-repeat;
  background-size: contain;
  @include media-breakpoint-up(md) {
    height: 72px;
    width: 56px;
    background: url('../../images/ICSC-logo.svg') no-repeat;
    background-size: contain;
  }
}

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.navbar > .container {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.mobile-buttons {
  border-bottom: 2px solid $tertiary3;
  @include media-breakpoint-up(md) {
    box-shadow: none;
  }
}

.nav-divider {
  height: 100%;
  border-left: 2px solid $tertiary3;
}

.button-group {
  width: 70px;
  height: 40px;
  // background: green;
  @include media-breakpoint-up(md) {
    width: auto;
  }
}

