
.simple-hero {
  background: url('../images/Hero_FPO.png') no-repeat center center; 
  background-size: cover; 
}

.ev-listing-hero {
  .heroCat {
    &:after {
      content: "";
      display: block;
      background: url('../../images/down-arrow.svg') no-repeat;
      background-size: cover;
      width: 24px;
      height: 18px;
      margin: 24px 0 0 14px;
      @include media-breakpoint-only(md) {
        width: 20px;
        height: 14px;
        margin: 20px 0 0 10px;
      }
      @include media-breakpoint-down(sm) {
        width: 16px;
        height: 10px;
        margin: 16px 0 0 6px;
      }
    }
  }
}
