/*
.image-with-cta {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	background-color: $tertiary4;
}
*/

.image-with-cta {
	background-repeat: no-repeat;
	position: relative;
	background-color: $tertiary4;

	/* xl */
	background-size: 725px;
	background-position: 90% 100%;

	@include media-breakpoint-down(lg) {
	 	background-size: 550px;
	 	background-position: 90% 100%;
	}

	@include media-breakpoint-down(md) {
	 	background-size: 425px;
	 	background-position: bottom center;
	 	padding-bottom: 20rem !important;
	}

	@include media-breakpoint-down(sm) {
	 	background-size: 425px;
	 	background-position: bottom center;	
	 	padding-bottom: 20rem !important;
	}

	@include media-breakpoint-down(xs) {
	 	background-size: 350px;
	 	background-position: bottom center;	
	 	padding-bottom: 16rem !important;
	 	
	}
}
