/*
.image-with-cta {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	background-color: $tertiary4;
}
*/

.image-with-cta {
	background-repeat: no-repeat;
	position: relative;
	background-color: $tertiary4;

	/* xl */
	background-size: 45%;
	background-position: 90% 100%;

	@include media-breakpoint-down(lg) {
	 	background-size: 60%;
	 	background-position: bottom right;
	}

	@include media-breakpoint-down(md) {
	 	background-size: 60%;
	 	background-position: bottom right;
	}

	@include media-breakpoint-down(sm) {
	 	background-size: 65%;
	 	background-position: bottom center;	
	 	padding-bottom: 20rem !important;
	}

	@include media-breakpoint-down(xs) {
	 	background-size: 80%;
	 	background-position: bottom center;	
	 	padding-bottom: 18rem !important;
	 	
	}
}
