
.content-block-narrow  {
	position: relative;
	.download {
		&:after {
			content: '';
			display: inline-block;
			background: url('../../images/download-icon-small.svg') no-repeat;
			width: 16px;
			height: 20px;
			margin-left: 16px;
			cursor: pointer;
			vertical-align: top;
		}
	}
}

.dropup {
	.back:before {
		content: '';
    display: inline-block;
    background: url(../../images/back-to-home.svg) no-repeat;
    width: 24px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 4px;
	}
	.dropdown-toggle {
		outline: none;
	}
}
