
.testi-carousel {

	.carousel-inner {
		overflow: visible;
	}

	.c-img {
		object-fit: contain;
		height: 649px;
		position: absolute;
		@include media-breakpoint-only(md) {
			left: -80px;
		}
		@include media-breakpoint-only(lg) {
			left: -40px;
		}
		bottom: 0;
		z-index: 9999;
	}

	.carousel-caption {
		position: relative;
		width: 90%;
		top: 10px;
		left: 18px;
		text-align: left;
		@include media-breakpoint-only(sm) {
			top: 36px;
			left: 36px;
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			width: 39%;
			top: 36px;
			right: 0;
			left: 50%;
			text-align: left;
		}
		@include media-breakpoint-up(lg) {
			width: 48%;
			left: 46%;
		}
	}

	.carousel-item {
		height: 350px;
		overflow: visible;
		@include media-breakpoint-up(md) {
			height: 519px;
		}
	}

	.carousel-indicators {
		bottom: 20px;
	}

	.carousel-indicators li {
		background-color: #f7f7fb;
		&.active {
			background-color: $tertiary6;
		}
	}

	.quote:before {
	  content: "\201C";
	  position: absolute;
    margin-left: -.5em;
    font-size: 1.5em;
	}
	.quote:after {
	  content: "\201D";
	  font-size: 1em;
	}

	.carousel-indicators li {
		background-color: #f7f7fb;
		width: 8px;
		height: 8px;
		max-width: 8px;
		// margin-right: 16px;
		// margin-left: 16px;
		&.active {
			background-color: darken($primary1, 10%);
			
			padding: 2px;
		}
	}

}
