
.carousel-inner {
	overflow: visible;
}

.c-img {
	object-fit: contain;
	height: 649px;
	position: absolute;
	left: -90px;
	bottom: 0;
	z-index: 9999;
}

// .carousel-control-prev, .carousel-control-next {
// 	margin-top: 80px;
// }

.carousel-caption {
	position: relative;
	width: 80%;
	top: 32px;
	left: 30px;
	text-align: left;
	@include media-breakpoint-up(md) {
		position: absolute;
		width: 40%;
		top: 28%;
		right: 0;
		left: 50%;
		text-align: left;
	}
}

.carousel-item {
	height: 350px;
	overflow: visible;
	@include media-breakpoint-up(md) {
		height: 519px;
	}
}
