
.card-carousel {

	.card {
		height: 350px;
		overflow: hidden;
	}

	.carousel-inner {
		// overflow: hidden;
	}

	/* smoother transitions */
	.carousel-inner > .carousel-item.next.left, 
	.carousel-inner > .carousel-item.prev.right {
		transition: all 1s ease;
	}

	.carousel-indicators {
		bottom: 134px;
	}

	.carousel-indicators li {
		background-color: #ced7db;
		&.active {
			background-color: $tertiary6;
		}
	}
	
	.carousel-control-prev, .carousel-control-next {
		width: 10%;
		color: $tertiary6;
	}
}
