
.location-callout {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	@include media-breakpoint-down(sm) {
		padding-top: 264px;
		border-bottom: 2px solid $tertiary3;
	}
	.overlay {
		background-color: $primary3;
		@include media-breakpoint-up(md) {
			opacity: .7;
		}
	}
}
