
.sponsors {

  .logo-wrap img:last-child{display:none; transition: $transition-base;}
  .logo-wrap:hover img:first-child{display:none; transition: $transition-base;}
  .logo-wrap:hover img:last-child{display:inline-block; transition: $transition-base;}

  .logo {
    transition: $transition-base;
    cursor: pointer;
    width: 250px;
    height: 54px;
  }
}
