
.sponsors {

  .logo-wrap {
    overflow: hidden;
    width: 220px !important;
    height: 120px !important;
    @include media-breakpoint-up(sm) {
      width: 220px !important;
      height: 125px !important;
    }
    @include media-breakpoint-up(md) {
      width: 290px !important;
      height: 150px !important;
    }
  
  }

  .platinum {
    width: 153px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 200px;
      height: 125px;
    }
    @include media-breakpoint-up(md) {
      width: 255px;
      height: 150px;
    }
  }

  .logo {
    transition: $transition-base;
    cursor: pointer;
    max-width: 100%;
    width:inherit;
    height: auto;
  }
}

//cross-browser filter grayscale
.grayscale{
  -webkit-filter: grayscale(1);
  filter:         grayscale(1);
}
.grayscale-off{
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}


/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}


