
.modal-body { /* override bootsrtap class */
	/*background-color: $tertiary1;*/

	/* new class */
	/*.modal-section {	
		background-color: white;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}*/
}

.modal-content {
  border-radius: .3rem;
}