<a href="{{ url }}" class="c-block-hero">
  
  <div class="container">
    
    <div class="col-sm-4 col-md-12">
    
    	{{> atoms-hero:c-block-hero__img }}

    	<h2 class="c-block-hero__headline">{{ headline.medium }}</h2>

    </div>

  </div>

</a><!-- end c-block--hero-->
