<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">

    
    <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}"  />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}"  />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery-ui.theme.min.css">

    <link rel="stylesheet" media="print" href="../../assets/css/print.css">
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

    <!-- Font Inclusion --> 
    <!-- <script type="text/javascript" src="//fast.fonts.net/jsapi/b9d7a925-1632-4db0-a4a5-01f99e38c7fc.js"></script> -->

</head>
<body class="{{ bodyClass }}">
    
