  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <!-- Bootstrap JS --> 
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  
  <!-- Some Patternlab Stuff, I figure --> 
  <script type="text/javascript" src="../../assets/js/overlay.js"></script> 
   <!-- Polyfill IE gray filter --> 
  <script type="text/javascript" src="../../assets/js/jquery.gray.min.js"></script>
  <!-- Custom JS --> 
  <script type="text/javascript" src="../../assets/js/custom.js"></script>

  </body>
</html>
