/*------------------------------------*\
    # MIXINS
\*------------------------------------*/


/*------------------------------------*\
    # BULLETPROOF FONT FACE GENERATOR
\*------------------------------------*/

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


/*------------------------------------*\
    # RESPONSIVE DESIGN HELPERS
\*------------------------------------*/

@mixin respond-to-sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin respond-to-md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin respond-to-lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin respond-to-xl {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}


/*------------------------------------*\
    # TARGET ALL LINK STATES
\*------------------------------------*/

@mixin all-states {
  &,
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}


/*--------------------------------------------------*\
    # DEBUG MODE, INCLUDE ANYWHERE TO SEE ALL BLOCKS
\*--------------------------------------------------*/

@mixin debug {
  &, * {
    background: $placeholder-background;
  }
}
