/*------------------------------------*\
# VARIABLES
\*------------------------------------*/


/*------------------------------------*\
# COLORS
\*------------------------------------*/


$icsc-red: #fc2b2b;
$icsc-white: #fff;
$icsc-black: #000;
$icsc-original-red: #e31837;

$icsc-accent-1: #d7edd0;
$icsc-accent-2: #dad7c4;
$icsc-accent-3: #def2f7;
$icsc-accent-4: #ffdcc2;
$icsc-accent-5: #fffbbd;

$icsc-bg-1: #f7f7f7;
$icsc-bg-2: #f9f9f9;
$icsc-bg-3: #ededed;
$icsc-bg-4: #f7f7fb;
$icsc-bg-5: #4a4a4a;
$icsc-bg-6: #343434;


/*------------------------------------*\
# TYPE
\*------------------------------------*/


$ix-fontsize-xl-sm: 30px;
$ix-fontsize-xl-lh-sm: 38px;
$ix-fontsize-xl-md: 34px;
$ix-fontsize-xl-lh-md: 42px;
$ix-fontsize-xl-lg: 40px;
$ix-fontsize-xl-lh-lg: 50px;
$ix-fontsize-xl-xl: 40px;
$ix-fontsize-xl-lh-xl: 50px;

$ix-fontsize-lg-sm: 22px;
$ix-fontsize-lg-lh-sm: 30px;
$ix-fontsize-lg-md: 24px;
$ix-fontsize-lg-lh-md: 32px;
$ix-fontsize-lg-lg: 26px;
$ix-fontsize-lg-lh-lg: 34px;
$ix-fontsize-lg-xl: 26px;
$ix-fontsize-lg-lh-xl: 34px;

$ix-fontsize-md-sm: 16px;
$ix-fontsize-md-lh-sm: 24px;
$ix-fontsize-md-md: 16px;
$ix-fontsize-md-lh-md: 24px;
$ix-fontsize-md-lg: 16px;
$ix-fontsize-md-lh-lg: 24px;
$ix-fontsize-md-xl: 16px;
$ix-fontsize-md-lh-xl: 24px;

$ix-fontsize-sm-sm: 14px;
$ix-fontsize-sm-lh-sm: 20px;
$ix-fontsize-sm-md: 14px;
$ix-fontsize-sm-lh-md: 20px;
$ix-fontsize-sm-lg: 14px;
$ix-fontsize-sm-lh-lg: 20px;
$ix-fontsize-sm-xl: 14px;
$ix-fontsize-sm-lh-xl: 20px;


/*------------------------------------*\
# TYPE
\*------------------------------------*/

$transition-hover-default: color .2s ease;


/*------------------------------------*\
# ANIMATION
\*------------------------------------*/

$animation-duration: 1s;
$animation-delay: 0.3s;


/*------------------------------------*\
# DEBUG
\*------------------------------------*/

$placeholder-background: rgba(0, 0, 0, .1);


/*------------------------------------*\
# Z-INDEX
\*------------------------------------*/

$z-index: (
  modal     : 9000, 
  overlay   : 8000,
  dropdown  : 7000,
  header    : 6000,
  footer    : 5000,
  bgvid     : 4000,
  page      : 3000, 
  bottom    : 1
);


/*------------------------------------*\
# MEDIA QUERY BREAKPOINTS
\*------------------------------------*/

// Small screen
$screen-sm:                  579px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen
$screen-md:                  1000px !default;
$screen-md-min:              $screen-md !default;

// Large screen 
$screen-lg:                  1240px !default;
$screen-lg-min:              $screen-lg !default;

// XLarge screen
$screen-xl:                  1440px !default;
$screen-xl-min:              $screen-xl !default;

$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

