/*------------------------------------*\
# VARIABLES
\*------------------------------------*/


/*------------------------------------*\
# COLORS
\*------------------------------------*/


$red: #fc2b2b;
$white: #fff;
$black: #000;
$original-red: #e31837;

$accent-1: #d7edd0;
$accent-2: #dad7c4;
$accent-3: #def2f7;
$accent-4: #ffdcc2;
$accent-5: #fffbbd;

$bg-1: #f7f7f7;
$bg-2: #f9f9f9;
$bg-3: #ededed;
$bg-4: #f7f7fb;
$bg-5: #4a4a4a;
$bg-6: #343434;


/*------------------------------------*\
# FONT
\*------------------------------------*/

$font-family: 'Sofia Pro', 'Helvetica Neue', 'Arial', sans-serif;


/*------------------------------------*\
# TYPE
\*------------------------------------*/

$type-1-xs: 72px;
$type-1-lh-xs: 86px;
$type-1-sm: 72px;
$type-1-lh-sm: 86px;
$type-1-md: 72px;
$type-1-lh-md: 86px;
$type-1-lg: 72px;
$type-1-lh-lg: 86px;
$type-1-xl: 72px;
$type-1-lh-xl: 86px;

$type-2-xs: 56px;
$type-2-lh-xs: 68px;
$type-2-sm: 56px;
$type-2-lh-sm: 68px;
$type-2-md: 56px;
$type-2-lh-md: 68px;
$type-2-lg: 56px;
$type-2-lh-lg: 68px;
$type-2-xl: 56px;
$type-2-lh-xl: 68px;

$type-3-xs: 48px;
$type-3-lh-xs: 60px;
$type-3-sm: 48px;
$type-3-lh-sm: 60px;
$type-3-md: 48px;
$type-3-lh-md: 60px;
$type-3-lg: 48px;
$type-3-lh-lg: 60px;
$type-3-xl: 48px;
$type-3-lh-xl: 60px;

$type-4-xs: 36px;
$type-4-lh-xs: 44px;
$type-4-sm: 36px;
$type-4-lh-sm: 44px;
$type-4-md: 36px;
$type-4-lh-md: 44px;
$type-4-lg: 36px;
$type-4-lh-lg: 44px;
$type-4-xl: 36px;
$type-4-lh-xl: 44px;

$type-5-xs: 28px;
$type-5-lh-xs: 36px;
$type-5-sm: 28px;
$type-5-lh-sm: 36px;
$type-5-md: 28px;
$type-5-lh-md: 36px;
$type-5-lg: 28px;
$type-5-lh-lg: 36px;
$type-5-xl: 28px;
$type-5-lh-xl: 36px;



/*------------------------------------*\
# TRANSITION
\*------------------------------------*/

$transition-hover-default: color .2s ease;


/*------------------------------------*\
# ANIMATION
\*------------------------------------*/

$animation-duration: 1s;
$animation-delay: 0.3s;


/*------------------------------------*\
# DEBUG COLOR
\*------------------------------------*/

$placeholder-background: rgba(0, 0, 0, .1);


/*------------------------------------*\
# Z-INDEX MAP
\*------------------------------------*/

$z-index: (
  modal     : 9000, 
  overlay   : 8000,
  dropdown  : 7000,
  header    : 6000,
  footer    : 5000,
  bgvid     : 4000,
  page      : 3000, 
  bottom    : 1000
);


/*------------------------------------*\
# MEDIA QUERY BREAKPOINTS
\*------------------------------------*/

// SMALL 
$screen-sm:                  576px !default;
$screen-sm-min:              $screen-sm !default;

// MEDIUM 
$screen-md:                  768px !default;
$screen-md-min:              $screen-md !default;

// LARGE
$screen-lg:                  992px !default;
$screen-lg-min:              $screen-lg !default;

// XL
$screen-xl:                  1200px !default;
$screen-xl-min:              $screen-xl !default;

$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

